<template>
  <div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 imgFondo">
          <!-- <div class="colorFondo"></div> -->
          <div class="row">
             <!-- TEXT PRINCIPAL -->
            <div class="col-lg-5 mx-auto col-md-6 col-12 text-center text-md-start">
              <h1>{{$store.state.config.titulo}}</h1>
               <cardpromo></cardpromo>
            </div>
            <!-- FORM -->
            <div class="col-lg-5 m-auto col-md-6 col-sm-12">
              <formulario :config="this.$store.state.config" />
            </div>
            <!-- CARD -->
            <card />
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 cont p-0">
          <div class="container-fluid">
            <div class="row">
              <div class="col-xl-10 offset-xl-1">
                <Contenido />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import formulario from "~/components/forms/newMotosForm.vue";
import Contenido from "~/components/utilities/addCont.vue";
import card from "~/components/common/card.vue";
import cardpromo from "~/components/alerta/alerta.vue";
import getInsurerPromo from "~/plugins/promoData.js";

export default {
    layout: 'index'&&'cookies',
  components: {
    formulario,
    Contenido,
    card,
    cardpromo
  },
  beforeCreate() {
    //POR ASEGURADORA
      
        this.$store.commit("telApi");
    this.$store.state.config.aseguradora = "GNP";
    this.$store.state.config.cotizacion = true;
    this.$store.state.config.emision = true;
    this.$store.state.config.descuento = 0;
    this.$store.state.config.telefonoAS = "88902257";
    // this.$store.state.config.grupoCallback = "VN Motos";
    this.$store.state.config.from = "DOMINIO-MOTOS";
    this.$store.state.config.idPagina = 2;
    this.$store.state.config.idMedioDifusion = 1117;
    this.$store.state.config.idMedioDifusionEcommerce = 6254;
    this.$store.state.config.idMedioDifusionInteraccion = 6255;
    this.$store.state.config.idSubRamo = 58;
    this.$store.state.config.dominioCorreo = "MOTOS|MOTOS|segurosmotos-com-mx";
    this.$store.state.config.idCampana = 21;
    this.$store.state.config.titulo =
      "Las mejores Aseguradoras de Motos en México"; // INDEX
    this.$store.state.config.parrafo = ""; //CONTENIDO AGREGADO A LA PROMO EN H1
    this.$store.state.config.adic = "";
    this.$store.state.config.img = "moto.svg";
    this.$store.state.config.alert = true;
    this.$store.state.config.asgNombre = "Seguros Motos";
    this.$store.state.config.promo = "Obtén";

    this.$store.state.config.k1 = "Seguros para Motos";
    this.$store.state.config.k2 = "seguros de Motos";
    this.$store.state.config.k3 = "seguros de Motos en México";
    this.$store.state.config.k4 = "seguros para Motos en México";
    this.$store.state.config.k5 = "seguro de auto para Motos";
    this.$store.state.config.k6 = "seguros Motos";
    this.$store.state.config.k7 = "mejor seguro de Motos";

    this.$store.state.config.urlGracias="/timeline/thank-you"

    this.$store.state.config.clase2="col-4 col-md-4 col-lg-4"
    this.$store.state.config.clase3="col-4  col-md-8 col-lg-8 my-auto"
    this.$store.state.config.clase1="adornoNormal"
    this.$store.state.config.colorPromo="colorNormal"
    this.$store.state.config.subproduct="motos"
  },
  head() {
    return {
      title: "Cotiza Seguros para Motos en México - Mejor Seguro de Motos",
      meta: [
        {
          hid: "keywords",
          name: "keywords",
          content:
            "Seguros para Motos, seguros de Motos, seguros de Motos en México, seguros para Motos en México, seguro de auto para Motos, seguros Motos, mejor seguro de Motos, seguro de motocicletas, seguros de cuatrimotos, seguros de motos deportivas, seguros para motonetas."
        },
        {
          hid: "description",
          name: "description",
          content:
            " Cotiza Seguros para Motos en México al mejor precio, fácil y rápido. Encuentra coberturas y beneficios exclusivos en Seguros de Motos. Sólo en el Mejor Seguro de Motos."
        },
        { hid: "robots", name: "robots", content: "index, follow" },
        {
          hid: "author",
          name: "author",
          content: "twitter: @vargasdesignMx | @DanCuevas"
        },
        {
          hid: "sitemap",
          rel: "sitemap",
          type: "application/xml",
          title: "sitemap",
          href: "sitemap.xml"
        },
        {
          hid: "canonical",
          rel: "canonical",
          href: "https://segurosmotos.com.mx/timeline/"
        }
      ]
    };
  }
};
</script>
