<template>
  <div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 imgFondo">
          <!-- <div class="colorFondo"></div> -->
          <div class="row">
             <!-- TEXT PRINCIPAL -->
            <div class="col-lg-5 mx-auto col-md-6 col-12 text-center text-md-start">
              <h1>{{$store.state.config.titulo}}</h1>
               <cardpromo></cardpromo>
            </div>
            <!-- FORM -->
            <div class="col-lg-5 m-auto col-md-6 col-sm-12">
              <formulario :config="this.$store.state.config" />
            </div>
            <!-- CARD -->
            <card />
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 cont p-0 mt-md-5">
          
          <!-- -->
          <section>
            <div class="col-xl-10 offset-xl-1 px-1 px-xl-0">
              <h2>Aprovecha los beneficios de los seguros para motos Quálitas</h2>
              <p>Al adquirir un vehículo nuevo es importante que consideres las responsabilidades que conlleva, una de ellas es buscar los seguros para motos Quálitas, a fin de que estés respaldado por una de las mejores aseguradoras del país.</p>
              <p>Conducir una motocicleta tiene muchas ventajas, ya que puede salvarte cuando hay mucho tráfico o se puede emplear para fines personales y laborales. Por ello, es importante que busques la mejor y más completa protección.</p>
              <p>Quálitas es una compañía de origen mexicano que desde hace varios años se ha dedicado a proteger el patrimonio de los mexicanos, ya sean casas, autos, motos y además, cuenta con planes en los que tu salud es lo primero, por eso es una empresa en la que sin duda puedes confiar.</p>
            </div>
          </section>
          <!-- -->
          <section>
            <div class="col-xl-10 offset-xl-1 p-0">
              <h2>Coberturas Quálitas para proteger tu motocicleta</h2>
              <p>Los seguros para motos Quálitas son parte de los diferentes servicios con los que cuenta esta compañía, pues lo que buscan es proporcionar la mejor protección a la sociedad mexicana.</p>
              <p>A fin de llegar a un mayor número de personas, esta aseguradora diseñó tres tipos de paquetes, los cuales se adaptan a las necesidades que tengan los diferentes motociclistas, pues algunos manejan unidades deportivas y otros se inclinan más por los modelos clásicos.</p>
              <p>Para que el costo de una póliza no sea un motivo para no adquirirla, Quálitas ofrece un Paquete Básico, que incluye la cobertura de Responsabilidad civil por daños a terceros, misma que las autoridades establecieron como obligatoria para todos los motociclistas que circulen por las carreteras del país.</p>
              <p>El propósito de que todos los automovilistas tengan este seguro obligatorio es que en caso de que el asegurado incurra en un accidente, pueda asumir las consecuencias y hacerle frente a los daños materiales y lesiones corporales que cause en terceras personas.</p>
              <p>Si eres parte de los motociclistas que desean estar mejor protegidos, puedes elegir el Paquete Limitado, el cual te protege no sólo por los daños que puedas provocar en otros bienes, también en situaciones más complicadas como el robo de tu moto.</p>
              <p>Los seguros para motos Quálitas que se contratan a partir de la cobertura limitada, también abarcan aspectos legales, pues en ocasiones los accidentes de tránsito llegan hasta los ministerios públicas u otras instancias de este tipo.</p>
              <p>La seguridad total para tus viajes en moto la puedes obtener con la otra cobertura de Quálitas, que consiste en un Paquete Amplio que ampara a los asegurados en caso de que sufran el robo de su unidad o tengan que asumir fuertes gastos por daños materiales.</p>
              <p>Es importante que analices qué tipo de protección quieres tener y el presupuesto con el que cuentas para que no pongas en riesgo tus finanzas ni tu integridad física.</p>
              <p>Para que sea más sencillo para ti elegir alguno de los seguros para motos Quálitas, puedes verificar que te ofrece cada paquete en la siguiente tabla.</p>
              <p>Con estos paquetes que actualmente Quálitas ofrece, los conductores de una moto tienen la posibilidad de garantizar su seguridad y además, la de sus acompañantes, porque no siempre viajan solos y es mejor estar prevenidos ante cualquier riesgo.</p>
            </div>
          </section>
          <!-- -->
          <section>
            <div class="col-xl-10 offset-xl-1 p-0">
              <h3>Beneficios de los seguros para motos Quálitas</h3>
              <p>Es un hecho que al buscar un seguro lo que deseas es tener la certeza de que en caso de un accidente, estarás respaldado por una empresa de confianza que sabrá aplicar los mejores métodos para asesorarte.</p>
              <p>Quálitas es una compañía que lleva varios años en el mercado asegurador de México y sabe cómo apoyar a sus asegurados, por lo que al contratar alguno de sus paquetes se pueden obtener beneficios que debes de conocer.</p>
              <p>La principal ventaja de los seguros para motos Quálitas es que con ellos puedes cumplir con las obligaciones que marca la ley, ya que desde el pasado 1 de enero del 2019 ya es obligatorio circular, en motocicleta o en auto, con una protección proporcionada por una aseguradora.</p>
              <p>Los tres paquetes de seguros que tiene Quálitas incluyen la cobertura que las autoridades establecieron como obligatoria, la de Responsabilidad Civil. Con este tipo de amparo, puedes asumir las consecuencias físicas y materiales que se presentan después de un accidente.</p>
              <p>Además, con Quálitas también estarás amparado en caso de juicio civil seguido en tu contra con motivo de tu responsabilidad civil, considerando el límite máximo de responsabilidad que se establezca en tu póliza, así como los gastos a los que seas condenado.</p>
              <p>Con los seguros para motocicleta que Quálitas te ofrece también se te brinda un amparo por la responsabilidad que tenga cualquier persona que con tu consentimiento, utiliza tu unidad y derivado de ello, cause daños o provoque lesiones en otras personas.</p>
              <p>Una de las ventajas que proporcionan los paquetes de esta compañía es que la Responsabilidad civil se puede extender para que en caso de que la carga que lleves en tu moto provoque daños, puedas asumirlos sin poner en riesgo tu economía.</p>
              <p>Como parte de los beneficios que Quálitas ofrece a sus asegurados también está el amparo por el robo total de tu unidad, así como por los daños o pérdidas materiales que se deriven del hurto de tu moto.</p>
              <p>En el caso de los daños materiales, los seguros para motos Quálitas te amparan en caso de que sufras alguno de los siguientes percances o te veas perjudicado por un desastre natural.</p>
              <ul>
                <li>
                  <img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check" />&nbsp;Colisiones y vuelcos.
                </li>
                <li>
                  <img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check" />&nbsp;Rotura de cristales.
                </li>
                <li>
                  <img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check" />&nbsp;Incendios, rayos o explosiones.
                </li>
                <li>
                  <img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check" />&nbsp;Desastres naturales como ciclones, huracanes, granizo, terremotos y erupciones volcánicas.
                </li>
                <li>
                  <img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check" />&nbsp;Derrumbes de tierra o de construcciones, así como caída de árboles o de sus ramas.
                </li>
                <li>
                  <img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check" />&nbsp;Daños provocados por actos de vandalismo.
                </li>
                <li>
                  <img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check" />&nbsp;Daños derivados de actos civiles como huelgas, mítines, paros y disturbios de carácter obrero.
                </li>
              </ul>
              <p>Con este tipo de beneficios puedes sentirte más seguro mientras viajas en tu motocicleta, pues la finalidad es que puedas sacarle el máximo provecho y no que te genere problemas.</p>
            </div>
          </section>
          <!-- -->
          <section>
            <div class="col-xl-10 offset-xl-1 p-0">
              <h3>Conoce más sobre Quálitas</h3>
              <p>Para que tengas plena confianza al momento de contratar los seguros para motos Quálitas, es importante que conozcas un poco más sobre esta compañía, la cual se fundó por Joaquín Brockman Lozano el 9 de diciembre de 1993 en la Ciudad de México.</p>
              <p>La primera póliza que esta compañía emitió está fechada con el 22 de marzo de 1994, año en que lograron sumar 115 agentes y 2,970 vehículos asegurados.</p>
              <p>Actualmente, sus más de 25 años de experiencia les han permitido generar confianza en sus clientes y además, consolidarse como la aseguradora líder en México en el mercado automotriz considerando que ya tiene 12,000 agentes y más de 3.6 millones de autos asegurados.</p>
              <p>Este tipo de datos te permiten tener seguridad y confianza al momento de acercarte a Quálitas para contratar un seguro, ya sea de Auto o de Moto.</p>
              <p>La experiencia que ha adquirido esta compañía se debe a que ofrecen seguros para autos de uso particular, pero también para los que cuentan con otras características, como los equipos pesados y los de servicio público.</p>
              <p>Esta compañía se ha especializado en seguros de auto y moto, pues son los principales medios de transporte y cada vez son más los mexicanos que adquieren estas unidades, haciendo crecer su patrimonio, por lo que buscan que sus bienes materiales estén seguros ante distintos tipos de daños.</p>
              <p>Por supuesto que los datos de tu motocicleta son parte de los requisitos: año, modelo, marca, versión y número de serie o de motor. Así que considéralo para realizar cualquier trámite de contratación con Quálitas.</p>
            </div>
          </section>
          <!-- -->
          <section>
            <div class="col-xl-10 offset-xl-1 p-0">
              <h3>Coberturas adicionales para tu seguro de motos Quálitas</h3>
              <p>Como parte de la seguridad que puedes obtener con los seguros para motos Quálitas está la posibilidad de ampliar los beneficios al contratar coberturas adicionales, que están pensadas no sólo en el asegurado, también en sus acompañantes.</p>
              <p>Entre las coberturas adicionales que te brindarán mayor protección están las siguientes.</p>
              <ul>
                <li>
                  <img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check" />&nbsp;
                  <b>Gastos médicos ocupantes</b>: te ampara en caso de que debas pagar por conceptos como hospitalización, medicamentos, atención médica, enfermeros, servicio de ambulancia y gastos funerarios, siempre y cuando sean originados durante un accidente automovilístico donde se vea involucrado el asegurado.
                </li>
                <li>
                  <img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check" />&nbsp;
                  <b>Asistencia vial Quálitas</b>: con esta extensión la compañía se compromete a prestar los servicios de asistencia en viaje y asistencia en kilómetro cero, cuando el motociclista sufra un accidente o su unidad presente una falla.
                </li>
                <li>
                  <img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check" />&nbsp;
                  <b>Equipo especial</b>: al contratar esta cobertura Quálitas te puede amparar en caso de que el equipo especial que hayas instalado en tu moto sufra algún daño por riesgos como colisiones y desastres naturales. Además te ampara por el robo de estas piezas si tu unidad es, lógicamente, sustraída.
                </li>
                <li>
                  <img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check" />&nbsp;
                  <b>Muerte al conductor por accidente automovilístico</b>: esta cobertura opcional ampara a los conductores por cualquier lesión corporal que sufran de manera súbita o violenta, mientras conducen su motocicleta, que en casos extremos les cause la muerte.
                </li>
              </ul>
              <p>Al tener la posibilidad de ampliar tus coberturas, también previenes que en caso de que tú llegues a faltar, tus familiares no queden desamparados y puedan afrontar mejor una situación adversa como la muerte.</p>
            </div>
          </section>
          <!-- -->
          <section>
            <div class="col-xl-10 offset-xl-1 p-0">
              <h4>Requisitos para contratar un seguro de motos Quálitas</h4>
              <p>Tener un seguro, para moto o para auto, ya es algo obligatorio en México, así que después de conocer cuáles son las coberturas y los beneficios que ofrece Quálitas, es necesario que sepas los requisitos que te pide esta compañía para adquirir tu póliza.</p>
              <p>Para que puedas tener alguno de los seguros para motos Quálitas, el principal documento con el que debes de contar es la licencia de conducir, comprueba que esté vigente para que tu trámite pueda realizarse de forma exitosa.</p>
              <p>El Registro Federal de Contribuyentes (RFC) es otro requisito indispensable, así como tus datos personales: nombre completo, fecha de nacimiento, edad y género. Sin ellos no se puede aplicar a ningún trámite con Quálitas.</p>
              <p>Por supuesto que los datos de tu motocicleta son parte de los requisitos: año, modelo, marca, versión y número de serie o de motor. Así que considéralo para realizar cualquier trámite de contratación con Quálitas.</p>
            </div>
          </section>
          <!-- -->
          <section>
            <div class="col-xl-10 offset-xl-1 p-0">
              <h4>Factores clave que debes de tener en cuenta</h4>
              <p>Cuando se contratan los seguros para motos Quálitas, es importante que tomes en cuenta algunas condiciones generales, mismas que te evitarán malos entendidos o problemas en caso de que necesites los beneficios de esta aseguradora.</p>
              <p>Lo primero que debe quedar claro entre ambas partes (asegurado y aseguradora) es el tiempo que va a durar el contrato, así como las restricciones y deducciones que se establezcan en tu póliza.</p>
              <p>Además, es importante que quede claro las coberturas adicionales que hayas contratado y las exclusiones que la aseguradora establezca en cada uno de sus paquetes, para que no te lleves sorpresas más adelante.</p>
              <p>El monto de la prima y la suma total por la cual aseguras tu moto son dos datos no debes pasar por alto, así que en caso de que tengas cualquier duda, es importante que te comuniques con Quálitas para que te ayuden a resolver los inconvenientes.</p>
            </div>
          </section>
          <!-- -->
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import formulario from "~/components/forms/newMotosForm.vue";
import Contenido from "~/components/utilities/addCont.vue";
import card from "~/components/common/cardMoto.vue";
import cardpromo from "~/components/alerta/alerta.vue";
import getInsurerPromo from "~/plugins/promoData.js";

export default {
    layout: 'indexMoto',
  components: {
    formulario,
    Contenido,
    card,
    cardpromo
  },
  beforeCreate() {
    //POR ASEGURADORA
      
    this.$store.commit("telApi");
    this.$store.state.config.aseguradora = "QUALITAS"; 
    this.$store.state.config.cotizacion = true;
    this.$store.state.config.emision = true;
    this.$store.state.config.descuento = 0;
    this.$store.state.config.telefonoAS = "47495112";
    // this.$store.state.config.grupoCallback = "VN Motos";
    this.$store.state.config.from = "DOMINIO-MOTOS";
    this.$store.state.config.idPagina = 2;
    this.$store.state.config.idMedioDifusion= 1307;
        this.$store.state.config.idMedioDifusionInteraccion = 6090;
    this.$store.state.config.idMedioDifusionEcommerce = 6089;
    this.$store.state.config.idSubRamo = 57;
    this.$store.state.config.dominioCorreo = "MOTOS|QUALITAS|segurosmotos-com-mx-seguros-para-motos-qualitas";
    this.$store.state.config.idCampana = 21;
    this.$store.state.config.titulo =
      "Cotiza tu Seguro para Motos Quálitas rapidísimo"; // INDEX
    this.$store.state.config.parrafo = ""; //CONTENIDO AGREGADO A LA PROMO EN H1
    this.$store.state.config.adic = "";
    this.$store.state.config.img = "moto.svg";
    this.$store.state.config.alert = true;
    this.$store.state.config.asgNombre = "Seguros Motos";
    this.$store.state.config.promo = "Obtén";

    this.$store.state.config.k1 = "Seguros para Motos Quálitas";
    this.$store.state.config.k2 = "Seguros de Motos Quálitas";
    this.$store.state.config.k3 = "Cotiza Seguros de Autos Quálitas";
    this.$store.state.config.k4 = "Quálitas Seguro de Moto";
    this.$store.state.config.urlGracias = '/seguros-para-motos-qualitas/thank-you';

    this.$store.state.config.clase2="col-4 col-md-4 col-lg-4"
    this.$store.state.config.clase3="col-4  col-md-8 col-lg-8 my-auto"
    this.$store.state.config.clase1="adornoNormal"
    this.$store.state.config.colorPromo="colorNormal"
    this.$store.state.config.subproduct="motos"
  },
  head() {
    return {
      title:
        "Seguros para Motos Quálitas - Cotiza Fácil Quálitas Seguros de Motos",
      meta: [
        {
          hid: "keywords",
          name: "keywords",
          content:
            "Seguros para Motos Quálitas, Seguros de Motos Quálitas, Cotiza Seguros de Autos Quálitas, Quálitas Seguro de Moto."
        },
        {
          hid: "description",
          name: "description",
          content:
            " Cotiza Seguros para Motos Quálitas en México al mejor precio, fácil y rápido. Encuentra coberturas y beneficios exclusivos en Quálitas Seguros de Motos."
        },
        { hid: "robots", name: "robots", content: "index, follow" },
        {
          hid: "author",
          name: "author",
          content: "twitter: @vargasdesignMx | @DanCuevas"
        },
        {
          hid: "sitemap",
          rel: "sitemap",
          type: "application/xml",
          title: "sitemap",
          href: "sitemap.xml"
        },
        {
          hid: "canonical",
          rel: "canonical",
          href: "https://segurosmotos.com.mx/seguros-para-motos-qualitas/"
        }
      ]
    };
  }
};
</script>
