<template>
  <div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 imgFondo">
          <!-- <div class="colorFondo"></div> -->
          <div class="row">
          <!-- TEXT PRINCIPAL -->
            <div class="col-lg-5 mx-auto col-md-6 col-12 text-center text-md-start">
              <h1>{{$store.state.config.titulo}}</h1>
               <cardpromo></cardpromo>
            </div>
            <!-- FORM -->
            <div class="col-lg-5 m-auto col-md-6 col-sm-12">
              <formulario :config="this.$store.state.config" />
            </div>
            <!-- CARD -->
            <card />
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 cont p-0">
          <div class="container-fluid">
            <div class="row">
              <div class="col-xl-10 offset-xl-1">
                <Contenido />
              </div>
            </div>
          </div>
          <!-- -->
          <section>
            <div class="col-xl-10 offset-xl-1 px-1 px-xl-0">
              <h2>¿Qué tan importantes son las Aseguradoras de Motos en México?</h2>
              <p>Ahora bien, las aseguradoras de motos en nuestro país se caracterizan por ser un soporte contra todos los inconvenientes a los que estés expuesto, pero esto se fortalece una vez que podemos darnos cuenta que todo tipo de motocicletas están obligadas a tener una póliza que proteja de ellas siendo también como independientemente de esto, son compañías que se especializan a poder diseñar de coberturas que sean ideales para ti, mientras que estas brindarán también la tranquilidad que necesitas al ser tu soporte y protección contra imprevistos.</p>
              <p>Por lo tanto las empresas de seguros para motos se han destacado durante los últimos años por el crecimiento que han experimentado, esto de acuerdo con las coberturas que podrás recibir, así como de muchos otros servicios que necesites para proteger de tu motocicleta.</p>
            </div>
          </section>
          <!-- -->
          <section>
            <div class="col-xl-10 offset-xl-1 p-0">
              <h2>Ventajas de contratar un Seguro de Motos.</h2>
              <p>El tema de las ventajas, así como en los servicios que las aseguradoras de motos tienen para ti a través de estas pólizas abundan de manera destacable, debido a que todo esto ofrece también de muchos beneficios que recibirás al momento de contratar, lo cual tendríamos que destacar sin importar el tipo de seguro que contrates, o bien la compañía con la que decidas asegurar tu motocicleta.</p>
              <p>Y para que te des una idea de los servicios que recibirás, así como de todo lo que estos representan, lo que a su vez se convierte sin lugar a duda en ventajas importantes de acuerdo a tu seguro de motos, tales como:</p>
              <ul>
                <li>
                  <img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check" />&nbsp;Con cualquiera de las aseguradoras de motos con las que elijas tu cobertura, tienes derecho al servicio de gastos médicos tanto para ti como conductor, así como para quien te acompañe al momento de ocurrir algún accidente o daños corporales por un acto delictivo, sin embargo es muy importante que no excedas la capacidad de acompañantes en tu motocicleta, de ser así la cobertura será cancelada.
                </li>
                <li>
                  <img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check" />&nbsp;Otra de las ventajas que recibirás será en la posibilidad de asegurar tu moto sin importar que el uso sea de tipo particular o comercial, este último para los servicios de reparto o entrega, en tanto a esto es necesario que indiques a las aseguradoras sobre estos datos.
                </li>
                <li>
                  <img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check" />&nbsp;En muchas de las pólizas se garantiza plenamente por parte de las aseguradoras de motos el cuidado de todos los accesorios de tu motocicleta, lo cual va desde sus alarmas, faros e incluso las llantas de la misma, además de establecer sumas aseguradas para cubrir de todo esto, incluyendo tanto el casco junto con la vestimenta especial que utilices para conducir, siempre y cuando la cobertura contratada sea la correcta de acuerdo con las indicaciones realizadas por parte de la compañía de seguros.
                </li>
                <li>
                  <img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check" />&nbsp;Sin importar el tipo de seguro que contrates para tu moto, en todas las pólizas se estipula claramente que los usuarios son acreedores a recibir de la cobertura en responsabilidad civil, esto a pesar de que el conductor sea o no culpable de los inconvenientes registrados.
                </li>
                <li>
                  <img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check" />&nbsp;Con el simple hecho de contratar, obtienes además de facilidades en tus pagos, así como a una asistencia contra todos los problemas mecánicos que pudiera sufrir tu motocicleta, esto junto con la asesoría y defensa jurídica a la que tendrás acceso una vez que la requieras debido a un accidente o cualquier inconveniente.
                </li>
              </ul>
            </div>
          </section>
          <!-- -->
          <section>
            <div class="col-xl-10 offset-xl-1 p-0">
              <h3>Requisitos para contratar con las diferentes Aseguradoras de Motos</h3>
              <div class="container-fluid">
                <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                    <p>
                      <strong>Personas físicas.</strong>
                    </p>
                    <ul>
                      <li>
                        <img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check" />&nbsp;RFC.
                      </li>
                      <li>
                        <img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check" />&nbsp;Nombre.
                      </li>
                      <li>
                        <img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check" />&nbsp;Sexo.
                      </li>
                      <li>
                        <img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check" />&nbsp;Correo electrónico.
                      </li>
                      <li>
                        <img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check" />&nbsp;Comprobante de domicilio.
                      </li>
                      <li>
                        <img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check" />&nbsp;Teléfono.
                      </li>
                      <li>
                        <img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check" />&nbsp;Edad.
                      </li>
                      <li>
                        <img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check" />&nbsp;Licencia de conducir vigente.
                      </li>
                    </ul>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                    <p>
                      <strong>Persona moral.</strong>
                    </p>
                    <ul>
                      <li>
                        <img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check" />&nbsp;RFC.
                      </li>
                      <li>
                        <img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check" />&nbsp;Razón social.
                      </li>
                      <li>
                        <img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check" />&nbsp;Correo electrónico.
                      </li>
                      <li>
                        <img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check" />&nbsp;Comprobante de domicilio fiscal.
                      </li>
                      <li>
                        <img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check" />&nbsp;Teléfono.
                      </li>
                      <li>
                        <img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check" />&nbsp;Datos del representante legal.
                      </li>
                      <li>
                        <img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check" />&nbsp;Licencia de conducir vigente.
                      </li>
                    </ul>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                    <p>
                      <strong>Ficha técnica de la motocicleta:</strong>
                    </p>
                    <ul>
                      <li>
                        <img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check" />&nbsp;Marca.
                      </li>
                      <li>
                        <img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check" />&nbsp;Modelo.
                      </li>
                      <li>
                        <img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check" />&nbsp;Año.
                      </li>
                      <li>
                        <img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check" />&nbsp;Número de serie.
                      </li>
                      <li>
                        <img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check" />&nbsp;Cilindraje.
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- -->
          <section>
            <div class="col-xl-10 offset-xl-1 p-0">
              <h3>¿Qué factores toman en cuenta las Aseguradoras de Motos en México?</h3>
              <p>En este sentido nos referimos al tema en el que las pólizas influyen en cuestión de las primas, así como en que las aseguradoras de motos aplican también de algunos cargos para aumentar la prima en sus seguros, esto se debe a que en comparación con un seguro de auto, los riesgos a bordo de tu motocicleta debido a que el conductor no estará protegido por una carrocería seguido del costo, y por esto algunos de los factores que intervienen son:</p>
              <ul>
                <li>
                  <img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check" />&nbsp;Edad del conductor.
                </li>
                <li>
                  <img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check" />&nbsp;Lugar de residencia.
                </li>
                <li>
                  <img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check" />&nbsp;Marca, modelo y cilindraje de la motocicleta.
                </li>
              </ul>
            </div>
          </section>
          <!-- -->
          <section>
            <div class="col-xl-10 offset-xl-1 p-0">
              <h3>¿Cuáles son las mejores Aseguradoras de Motos en México?</h3>
              <p>Nos preocupamos por tu bienestar y entre otras cosas cabe incluir como es que el sector de motocicletas se ha visto fortalecido, así como con el crecimiento que se ha experimentado durante los últimos años ya que al menos este sector se registró hasta un 25% en el crecimiento de este mercado, además de que los propietarios de las motocicletas reciben con esto la protección que realmente necesitan para afrontar los imprevistos a los que se verán expuestos, seguido de estar en todo momento para ti.</p>
              <p>En la actualidad transitan más de 3 millones de motos por las diversas vialidades de nuestro país, en donde tan solo un 33.5% de estas permanecen respaldadas con una póliza que realmente responda a sus necesidades, por lo que las probabilidades de sufrir algún inconveniente y no recibir de la atención necesaria crecen considerablemente.</p>
              <p>De esta forma te contamos de las que hoy en día son consideradas como las mejores aseguradoras de motos en nuestro país, como lo son:</p>
              <ul>
                <li>
                  <img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check" />&nbsp;
                  <strong>ABA Seguros de Moto:</strong> De las más prestigiosas que actualmente operan en nuestro país, aseguradora ABA es sin lugar a duda una de las más destacadas, lo cual se debe a las garantías que ofrece a sus clientes, luego de referirnos así a la que se caracteriza por ser una aseguradora que se encarga de otorgar las sumas aseguradas más amplias del sector.
                </li>
                <li>
                  <img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check" />&nbsp;
                  <strong>Inbursa Seguro para Motos:</strong> Seguido de esta encontramos a la que es conocida y mencionada como una de las aseguradoras de motos más importantes en México, luego de pertenecer a uno de los grupos financieros que ofrece de ciertas garantías de seguridad para todas aquellas motocicletas que actualmente protege, además que es un lugar que ha ganado debido a que es una de las pocas compañías que garantiza los pagos de indemnización en un lapso no mayor a 72 horas siempre y cuando el usuario entregue correctamente su documentación, pero si la aseguradora se retrasa, otorga hasta un 10% adicional del monto por cada día.
                </li>
                <li>
                  <img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check" />&nbsp;
                  <strong>Mapfre Seguro de Motocicletas:</strong> Por último en este top de seguros especiales para motos, encontramos a una de las compañías de seguros más importantes en el sector de motos, Mapfre se destaca por medio de sus servicios en asistencia vial, así como respaldar a sus clientes contra toda clase de daños o accidentes en los que se vean involucrados.
                </li>
              </ul>
            </div>
          </section>
          <!-- -->
          <section>
            <div class="col-xl-10 offset-xl-1 p-0">
              <h4>Antes de contratar tu Seguro de Moto, conoce las coberturas</h4>
              <ul>
                <li>
                  <img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check" />&nbsp;
                  <strong>Cobertura Básica:</strong> En primera instancia tenemos una póliza que se conoce también como la mínima protección que las aseguradoras de motos otorgan a sus clientes, con la que cuidarán para que estos puedan transitar por las distintas vialidades de nuestro país, con este plan recibirás Responsabilidad Civil por los daños a terceros que puedas llegar a causar, además de todo tipo de gastos médicos que sufras a bordo de tu motocicleta, al igual que tu acompañante. Normalmente en estas se manejan sumas aseguradas por hasta 500 mil pesos.
                </li>
                <li>
                  <img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check" />&nbsp;
                  <strong>Cobertura Limitada:</strong> Destacada por incluir de servicios más completos y estructurados, en esta póliza encontraremos ciertas similitudes con una póliza de tipo básica, sin embargo en esta muchas de las aseguradoras de motos añaden desde protección total en caso de todo tipo de daños materiales que puedas causar, así como ciertos aumentos en las sumas aseguradas que se acuerden. Junto a esto el apoyo económico por parte de las compañías de seguros para motos suelen acordar indemnizaciones mayores a comparación de las coberturas anteriores, así como una protección que también cubrirá gastos como multas e infracciones de tránsito.
                </li>
                <li>
                  <img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check" />&nbsp;
                  <strong>Cobertura Amplia:</strong> Y pasamos a la que sin lugar a duda se posiciona como la máxima protección, así como ser una cobertura con la que recibirás muchos beneficios, pues se trata de un respaldo contra cualquier imprevisto, pues a través de esta podrás obtener todos los servicios ya mencionados en los planes anteriores, pero también estarás amparado por accidentes a bordo de tu motocicleta, así como una extensión en la responsabilidad civil por eliminación de deducibles, devolución de primas e indemnización por el robo de tu moto, así como sus accesorios. Todo esto estará a tu disposición por toda la República Mexicana y en el extranjero.
                </li>
              </ul>
            </div>
          </section>
          <!-- -->
          <section>
            <div class="col-xl-10 offset-xl-1 p-0">
              <h4>Recuerda que asegurar tu motocicleta ya es obligatorio en México.</h4>
              <p>Hablando sobre el sector en aseguradoras de motos, este ha experimentado una serie de cambios así como de problemáticas que se desarrollan en nuestro país, debido a que recientemente se ha modificado el reglamento de tránsito y de acuerdo con la Ley de Caminos, Puentes y Autotransporte Federal.</p>
              <p>Es como se ha dado a conocer también que tanto los propietarios de vehículos, incluyendo también las motocicletas requieren de cierta protección, así como a que todos estos puedan circular o transitar de manera apropiada por las vías federales en las que deberán hacerlo con un seguro de motos obligatorio, el cual pueda garantizar la protección y respaldo adecuado conforme a los daños que pudieras ocasionar a terceros, esto en sus bienes o por lesiones corporales, ya que al igual que en los seguros para autos, las aseguradoras de motos en México deberán contar con una cobertura en responsabilidad civil.</p>
              <p>De esta manera tanto en el sector de automóviles, como de motocicletas ya es obligatorio el aseguramiento de todos estos vehículos, dado que las aseguradoras de motos han visto un crecimiento considerable en la comercialización de sus productos, esto se une también a que el aseguramiento de estas se hace de forma gradual con base a la producción de estas y también a que desde el inicio de 2019 se ha anunciado ya de manera oficial que estas habrán de estar protegidas de manera correcta y apropiada por los reglamentos impuestos por las autoridades en turno.</p>
              <p>Hablando sobre las coberturas que las aseguradoras de motos ofrecen al mercado, cabe mencionar que en el momento en que se contrate alguna de estas permitiéndote que así puedas obtener una indemnización de hasta 50 mil pesos por aquellos daños materiales a los que estás expuesto, así como 100 mil pesos para lesiones físicas o muertes por accidentes, junto con la Ciudad de México también se ha dado a conocer que los seguros de motos son obligatorios en otros 16 estados de la República Mexicana como el Estado de México, Baja California, Chiapas, Morelos, Jalisco, Morelos, Nayarit, Nuevo León, Querétaro, San Luis Potosí, Sinaloa, Sonora, Tabasco, Tamaulipas, Veracruz y Yucatán.</p>
              <p>Y en términos generales sólo queda incluir que los seguros para motos son un tema del que tienes que estar informado en todo momento, pues no debes dejar pasar en alto los aspectos en los que las aseguradoras de motos se convierten en la solución a todos tus problemas, principalmente en los viales, ya que no solo estas responden por accidentes o problemas en tu motocicleta, pues las aseguradoras de motos te respaldan tanto en infracciones de tránsito, seguido de muchos otros inconvenientes.</p>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import formulario from "~/components/forms/newMotosForm.vue";
import Contenido from "~/components/utilities/addCont.vue";
import card from "~/components/common/card.vue";
import cardpromo from "~/components/alerta/alerta.vue";
import getInsurerPromo from "~/plugins/promoData.js";

export default {
    layout: 'index',
  components: {
    formulario,
    Contenido,
    card, cardpromo
  },
  beforeCreate() {
    //POR ASEGURADORA
      
        this.$store.commit("telApi");
    this.$store.state.config.aseguradora = "GNP";    
    this.$store.state.config.cotizacion = true;
    this.$store.state.config.emision = true;
    this.$store.state.config.descuento = 0;
    this.$store.state.config.telefonoAS = "88902257";
    this.$store.state.config.grupoCallback = "VN Motos";
    this.$store.state.config.from = "DOMINIO-MOTOS";
    this.$store.state.config.idPagina=2,
    this.$store.state.config.idMedioDifusion = 1304;
    this.$store.state.config.idMedioDifusionEcommerce = 6243;
    this.$store.state.config.idMedioDifusionInteraccion = 6244;
    this.$store.state.config.idSubRamo = 58;
    this.$store.state.config.dominioCorreo = "MOTOS|MOTOS|segurosmotos-com-mx-aseguradoras-de-motos";
    this.$store.state.config.idCampana = 21;
    this.$store.state.config.titulo =
      "Las mejores Aseguradoras de Motos en México"; // INDEX
    this.$store.state.config.parrafo = ""; //CONTENIDO AGREGADO A LA PROMO EN H1
    this.$store.state.config.adic = "";
    this.$store.state.config.img = "moto.svg";
    this.$store.state.config.alert = true;
    this.$store.state.config.asgNombre = "Seguros Motos";
    this.$store.state.config.promo = "Obtén";

    this.$store.state.config.k1 = "Seguros para Motos";
    this.$store.state.config.k2 = "seguros de Motos";
    this.$store.state.config.k3 = "seguros de Motos en México";
    this.$store.state.config.k4 = "seguros para Motos en México";
    this.$store.state.config.k5 = "seguro de auto para Motos";
    this.$store.state.config.k6 = "seguros Motos";
    this.$store.state.config.k7 = "mejor seguro de Motos";
    this.$store.state.config.urlGracias = '/aseguradoras-de-motos/thank-you';

    this.$store.state.config.clase2="col-4 col-md-4 col-lg-4"
    this.$store.state.config.clase3="col-4  col-md-8 col-lg-8 my-auto"
    this.$store.state.config.clase1="adornoNormal"
    this.$store.state.config.colorPromo="colorNormal"
    this.$store.state.config.subproduct="motos"

  },
  head() {
    return {
      title: "Cotiza Seguros para Motos en México - Mejor Seguro de Motos",
      meta: [
        {
          hid: "keywords",
          name: "keywords",
          content:
            "Seguros para Motos, seguros de Motos, seguros de Motos en México, seguros para Motos en México, seguro de auto para Motos, seguros Motos, mejor seguro de Motos, seguro de motocicletas, seguros de cuatrimotos, seguros de motos deportivas, seguros para motonetas."
        },
        {
          hid: "description",
          name: "description",
          content:
            " Cotiza Seguros para Motos en México al mejor precio, fácil y rápido. Encuentra coberturas y beneficios exclusivos en Seguros de Motos. Sólo en el Mejor Seguro de Motos."
        },
        { hid: "robots", name: "robots", content: "index, follow" },
        {
          hid: "author",
          name: "author",
          content: "twitter: @vargasdesignMx | @DanCuevas"
        },
        {
          hid: "sitemap",
          rel: "sitemap",
          type: "application/xml",
          title: "sitemap",
          href: "sitemap.xml"
        },
        {
          hid: "canonical",
          rel: "canonical",
          href: "https://segurosmotos.com.mx/"
        }
      ]
    };
  }
};
</script>
