<template>
  <div class="list mt-5">
    <li v-if="this.$store.state.config.imgQualitas ==true">
      <a href="../seguros-para-motos-qualitas" target="_blank">
        <img src="/img/logotipo-agente.svg" width="55" height="28" alt="Quálitas" />
      </a>
    </li>
    <li>
      <a href="../seguros-para-motos-gnp" target="_blank">
        <img src="https://prod-mx.sfo3.cdn.digitaloceanspaces.com/insurance/gnp/logotipo-agente.png" width="55" height="34" alt="GNP" />
      </a>
    </li>
    <!-- <li>
      <a href="../seguros-para-motos-elektra" target="_blank">
        <img src="/img/asg/logo/azteca.png" alt="Banco Azteca" />
      </a>
    </li> -->
    <li>
      <img src="/img/asg/logo/afirme.svg" width="55" height="23" alt="Afirme" />
    </li>
    <li>
      <img src="/img/asg/logo/sura.svg" width="55" height="31" alt="Sura" />
    </li>
    <li>
      <img src="/img/asg/logo/zurich.svg" width="55" height="55" alt="Zurich" />
    </li>
    <li>
      <img src="/img/asg/logo/inbursa.svg" width="55" height="23" alt="Inbursa" />
    </li>
    <li>
      <a href="../seguros-de-mapfre-motos " target="_blank">
        <img src="/img/asg/logo/mapfre.svg" width="55" height="41" alt="Mapfre" />
      </a>
    </li>
    <li>
      <img src="/img/asg/logo/logo-nuevo.svg" width="55" height="60" alt="Aba" />
    </li>
    <li>
      <a href="../seguros-para-motos-azteca" target="_blank">
        <img src="/img/asg/logo/azteca.svg" width="55" height="60" alt="Azteca" />
      </a>
    </li>
    <li>
      <img src="/img/asg/logo/elpotosi.svg" width="55" height="31" alt="El Potisi" />
    </li>
    <li>
      <img src="/img/asg/logo/hdi.svg" width="55" height="66" alt="HDI" />
    </li>
    <!-- <li>
      <img src="/img/asg/logo/primeroseguros.svg" alt="Primero Seguros" />
    </li> -->
    <li>
      <img src="/img/asg/logo/bxmas.svg" width="55" height="34" alt="BX+" />
    </li>
    <li>
      <img src="/img/asg/logo/lalatino.svg" width="55" height="44" alt="La Latino Seguros" />
    </li>
    <li>
      <img src="/img/asg/logo/nuevo-general.svg" width="55" height="28" alt="General" class="img-fluid" />
    </li>
    <li>
      <img src="/img/asg/logo/aguila-nuevo.svg" width="55" height="55" alt="Aguila" />
    </li>
    <li>
      <img src="/img/asg/logo/ana.svg" width="55" height="55" alt="Ana" />
    </li>
    <li>
      <img src="/img/asg/logo/banorte_new.svg" width="55" height="17" alt="Banorte" />
    </li>
    <li>
      <img src="/img/asg/logo/atlas-nuevo.svg" width="55" height="25" alt="Atlas" />
    </li>
  </div>
</template>