<template>
  <div class="container-fuid">
    <!-- CARD -->
    <div class="row txtFunnel">
      <!-- LOGO -->
      <div class="col-4">
        <img :src="'/img/asg/logo/'+$store.state.config.img" class="logoInt"/>
      </div>
      <!-- TABLA -->
      <div class="col-12 p-0 mt-5 ">
        <div class="table-responsive">
          <p class="txtInt">COBERTURA AMPLIA</p>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Cobertura</th>
                <th>Precio</th>
                <th>Deducible</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>DAÑOS MATERIALES</td>
                <td>$ 386,000</td>
                <td>5%</td>
              </tr>
              <tr>
                <td>ROBO TOTAL</td>
                <td>$ 386,000</td>
                <td>10%</td>
              </tr>
              <tr>
                <td>RESPONSABILIDAD CIVIL</td>
                <td>$ 3,000,000</td>
                <td>NO APLICA</td>
              </tr>
              <tr>
                <td>RC EN EL EXTRANJERO</td>
                <td>$ 1,200,000</td>
                <td>NO APLICA</td>
              </tr>
              <tr>
                <td>ASISTENCIA VIAL</td>
                <td>$ 8,560</td>
                <td>NO APLICA</td>
              </tr>
              <tr>
                <td>GASTOS LEGALES</td>
                <td>$ 3,000,000</td>
                <td>NO APLICA</td>
              </tr>
              <tr>
                <td>GASTOS MÉDICOS</td>
                <td>$ 200,000</td>
                <td>NO APLICA</td>
              </tr>
              <tr>
                <td>MUERTE DEL CONDUCTOR POR ACCIDENTE AUTOMOVILISTICO</td>
                <td>$ 50,000</td>
                <td>NO APLICA</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- FIN DE CARD QUÁLITAS -->
    <div class="row motoFunnel">
      <div class="col-xl-6">
        <!-- DATOS DE LA MOTO -->
        <p>
          Estas Cotizazndo Una
          <b>{{$store.state.formData.marca}} {{$store.state.formData.modelo}} {{$store.state.formData.tipo}} {{$store.state.formData.descripcion}}</b>
        </p>
      </div>
      <!-- TELEFONO -->
      <div class="col-xl-6">
        <p>
          Teléfono:
          <a :href="'tel:55' + $store.state.config.telefonoAS">
            <b>55{{$store.state.config.telefonoAS}}</b>
          </a>
        </p>
      </div>
      <!-- NOMBRE DEL EJECUTIVO -->
      <div class="col-xl-6">
        <p>
          Nombre de tu ejecutivo:
          <b>{{$store.state.ejecutivo.nombre}}</b>
        </p>
      </div>
      <!-- CORREO DE EJECUTIVO -->
      <div class="col-xl-6">
        <p>
          Correo:
          <b>{{$store.state.ejecutivo.correo}}</b>
        </p>
      </div>
    </div>
  </div>
</template>