<template>
  <div class="container-fuid">
    <div class="row motoFunnel">
      <div class="col-xl-6">
        <!-- DATOS DE LA MOTO -->
        <p>
          Estas Cotizazndo Una
          <b>{{$store.state.formData.marca}} {{$store.state.formData.modelo}} {{$store.state.formData.tipo}} {{$store.state.formData.descripcion}}</b>
        </p>
      </div>
      <!-- TELEFONO -->
      <div class="col-xl-6">
        <p>
          Teléfono:
          <a :href="'tel:55' + $store.state.config.telefonoAS">
            <b>55{{$store.state.config.telefonoAS}}</b>
          </a>
        </p>
      </div>
      <!-- NOMBRE DEL EJECUTIVO -->
      <div class="col-xl-6">
        <p>
          Nombre de tu ejecutivo:
          <b>{{$store.state.ejecutivo.nombre}}</b>
        </p>
      </div>
      <!-- CORREO DE EJECUTIVO -->
      <div class="col-xl-6">
        <p>
          Correo:
          <b>{{$store.state.ejecutivo.correo}}</b>
        </p>
      </div>
    </div>
    <!-- CARD -->
    <div class="row txtFunnel">
      <!-- LOGO -->
      <div class="col-4">
        <img src="/img/asg/logo/qualitas.svg" />
      </div>
      <!-- COBERTURAS -->
      <div class="col-4 text-center">
        <p>Cobertura Limitada</p>
        <span>
          <b>Soló via teléfonica</b>
        </span>
      </div>
      <!-- BOTON -->
      <div class="col-4">
        <a :href="'tel:55'+$store.state.config.telefonoAS" class="btn">
          Comprar Por Teléfono
          <img
            src="/img/icon/indicador.gif"
            alt="Compra Por Teléfono"
            class="chevron"
          />
        </a>
      </div>
      <!-- INFO -->
      <div class="col-12">
        <a
          class="navbar-toggler txtInfo"
          data-toggle="collapse"
          data-target="#tabQualitas"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          Ver Coberturas
          <img src="/img/icon/i.svg" class="info" />
        </a>
        <!-- <button

        >
          <img src="/img/icon/i.svg" class="info" />
        </button>-->
      </div>
      <!-- TABLA -->
      <div id="tabQualitas" class="collapse col-12 p-0">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Cobertura</th>
                <th>Precio</th>
                <th>Deducible</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>DAÑOS MATERIALES</td>
                <td>$ 386,000</td>
                <td>5%</td>
              </tr>
              <tr>
                <td>ROBO TOTAL</td>
                <td>$ 386,000</td>
                <td>10%</td>
              </tr>
              <tr>
                <td>RESPONSABILIDAD CIVIL</td>
                <td>$ 3,000,000</td>
                <td>NO APLICA</td>
              </tr>
              <tr>
                <td>RC EN EL EXTRANJERO</td>
                <td>$ 1,200,000</td>
                <td>NO APLICA</td>
              </tr>
              <tr>
                <td>ASISTENCIA VIAL</td>
                <td>$ 8,560</td>
                <td>NO APLICA</td>
              </tr>
              <tr>
                <td>GASTOS LEGALES</td>
                <td>$ 3,000,000</td>
                <td>NO APLICA</td>
              </tr>
              <tr>
                <td>GASTOS MÉDICOS</td>
                <td>$ 200,000</td>
                <td>NO APLICA</td>
              </tr>
              <tr>
                <td>MUERTE DEL CONDUCTOR POR ACCIDENTE AUTOMOVILISTICO</td>
                <td>$ 50,000</td>
                <td>NO APLICA</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- FIN DE CARD QUÁLITAS -->
    <!-- CARD -->
    <div class="row txtFunnel">
      <!-- LOGO -->
      <div class="col-4">
        <img src="/img/asg/logo/gnp.svg" />
      </div>
      <!-- COBERTURAS -->
      <div class="col-4 text-center">
        <p>Cobertura Limitada</p>
        <span>
          <b>Soló via teléfonica</b>
        </span>
      </div>
      <!-- BOTON -->
      <div class="col-4">
        <a :href="'tel:55'+$store.state.config.telefonoAS" class="btn">
          Comprar Por Teléfono
          <img
            src="/img/icon/indicador.gif"
            alt="Compra Por Teléfono"
            class="chevron"
          />
        </a>
      </div>
      <!-- INFO -->
      <div class="col-12">
        <a
          class="navbar-toggler txtInfo"
          data-toggle="collapse"
          data-target="#tabGNP"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle "
        >
          Ver Coberturas
          <img src="/img/icon/i.svg" class="info" />
        </a>
        <!-- <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#tabGNP"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <img src="/img/icon/i.svg" class="info" />
        </button>-->
      </div>
      <!-- TABLA -->
      <div id="tabGNP" class="collapse col-12 p-0">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Cobertura</th>
                <th>Precio</th>
                <th>Deducible</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>DAÑOS MATERIALES</td>
                <td>$ 386,000</td>
                <td>5%</td>
              </tr>
              <tr>
                <td>ROBO TOTAL</td>
                <td>$ 386,000</td>
                <td>10%</td>
              </tr>
              <tr>
                <td>RESPONSABILIDAD CIVIL</td>
                <td>$ 3,000,000</td>
                <td>NO APLICA</td>
              </tr>
              <tr>
                <td>RC EN EL EXTRANJERO</td>
                <td>$ 1,200,000</td>
                <td>NO APLICA</td>
              </tr>
              <tr>
                <td>ASISTENCIA VIAL</td>
                <td>$ 8,560</td>
                <td>NO APLICA</td>
              </tr>
              <tr>
                <td>GASTOS LEGALES</td>
                <td>$ 3,000,000</td>
                <td>NO APLICA</td>
              </tr>
              <tr>
                <td>GASTOS MÉDICOS</td>
                <td>$ 200,000</td>
                <td>NO APLICA</td>
              </tr>
              <tr>
                <td>MUERTE DEL CONDUCTOR POR ACCIDENTE AUTOMOVILISTICO</td>
                <td>$ 50,000</td>
                <td>NO APLICA</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- FIN DE CARD GNP -->
    <!-- CARD -->
    <div class="row txtFunnel">
      <!-- LOGO -->
      <div class="col-4">
        <img src="/img/asg/logo/azteca.png" />
      </div>
      <!-- COBERTURAS -->
      <div class="col-4 text-center">
        <p>Cobertura Limitada</p>
        <span>
          <b>Soló via teléfonica</b>
        </span>
      </div>
      <!-- BOTON -->
      <div class="col-4">
        <a :href="'tel:55'+$store.state.config.telefonoAS" class="btn">
          Comprar Por Teléfono
          <img
            src="/img/icon/indicador.gif"
            alt="Compra Por Teléfono"
            class="chevron"
          />
        </a>
      </div>
      <!-- INFO -->
      <!-- <div class="col-12">
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#tabQualitas"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <img src="/img/icon/i.svg" class="info" />
        </button>
      </div>-->
    </div>
    <!-- FIN CARD BANCO AZTECA -->
    <!-- CARD -->
    <div class="row txtFunnel">
      <!-- LOGO -->
      <div class="col-4">
        <img src="/img/asg/logo/mapfre.svg" />
      </div>
      <!-- COBERTURAS -->
      <div class="col-4 text-center">
        <p>Cobertura Limitada</p>
        <span>
          <b>Soló via teléfonica</b>
        </span>
      </div>
      <!-- BOTON -->
      <div class="col-4">
        <a :href="'tel:55'+$store.state.config.telefonoAS" class="btn">
          Comprar Por Teléfono
          <img
            src="/img/icon/indicador.gif"
            alt="Compra Por Teléfono"
            class="chevron"
          />
        </a>
      </div>
      <!-- INFO -->
      <!-- <div class="col-12">
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#tabQualitas"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <img src="/img/icon/i.svg" class="info" />
        </button>
      </div>-->
    </div>
    <!-- FIN CARD BANCO MANPFRE -->
    <!-- CARD -->
    <div class="row txtFunnel">
      <!-- LOGO -->
      <div class="col-4">
        <img src="/img/asg/logo/ana.svg" />
      </div>
      <!-- COBERTURAS -->
      <div class="col-4 text-center">
        <p>Cobertura Limitada</p>
        <span>
          <b>Soló via teléfonica</b>
        </span>
      </div>
      <!-- BOTON -->
      <div class="col-4">
        <a :href="'tel:55'+$store.state.config.telefonoAS" class="btn">
          Comprar Por Teléfono
          <img
            src="/img/icon/indicador.gif"
            alt="Compra Por Teléfono"
            class="chevron"
          />
        </a>
      </div>
      <!-- INFO -->
      <!-- <div class="col-12">
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#tabQualitas"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <img src="/img/icon/i.svg" class="info" />
        </button>
      </div>-->
    </div>
    <!-- FIN CARD BANCO ANA -->
    <!-- CARD -->
    <div class="row txtFunnel">
      <!-- LOGO -->
      <div class="col-4">
        <img src="/img/asg/logo/lalatino.svg" />
      </div>
      <!-- COBERTURAS -->
      <div class="col-4 text-center">
        <p>Cobertura Limitada</p>
        <span>
          <b>Soló via teléfonica</b>
        </span>
      </div>
      <!-- BOTON -->
      <div class="col-4">
        <a :href="'tel:55'+$store.state.config.telefonoAS" class="btn">
          Comprar Por Teléfono
          <img
            src="/img/icon/indicador.gif"
            alt="Compra Por Teléfono"
            class="chevron"
          />
        </a>
      </div>
      <!-- INFO -->
      <!-- <div class="col-12">
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#tabQualitas"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <img src="/img/icon/i.svg" class="info" />
        </button>
      </div>-->
    </div>
    <!-- FIN CARD BANCO LA LATINO -->
  </div>
</template>