<template>
  <div>
        <div class="msj">
      <!-- NOMBRE -->
      <p><span><strong> Un asesor experto</strong> se
                comunicará contigo a la brevedad para asesorarte de forma
                gratuita.</span></p>
      <!-- TELEFONO -->
        <a
          :href="'tel:55'+$store.state.config.telefonoAS"
          class="btn"
        >Llamar Ahora <i class="fa fa-chevron-right"></i></a>
    </div>
    </div>
</template>