<template>
  <div class="container-fluid px-0" id="azteca">
        <div class="card border-0">
          <div class="card-body py-2">
            <div class="row justify-content-center bg-white">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 align-items-center shadow-cards">
                <div class="row">
                  <div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3">
                    <img
                      class="img-fluid"
                      style="width:150px;display:block;margin:0 auto;"
                      src="/img/asg/logo/azteca.svg"
                      alt="aZTECA SEGUROS"/>

                    <!--<p class="mb-0 text-center extra">Desde $783 Contrata</p>
                    <p class="mb-0 text-center extra">Responsabilidad Civil</p>-->

                  </div>
                  <div class="col-6 col-sm-6 col-md-4 col-lg-3 d-none d-sm-none d-md-block">
                    <ul style="list-style:none;padding-left:0;font-size:18px;" class="">
                      <li>
                        <svg class="icons"><use xlink:href="#check"></use></svg>
                        Robo Total
                      </li>
                      <li>
                        <svg class="icons"><use xlink:href="#check"></use></svg>
                        Daños Materiales
                      </li>
                      <li>
                        <svg class="icons"><use xlink:href="#check"></use></svg>
                        Daños a terceros
                      </li>
                      <li>
                        <svg class="icons"><use xlink:href="#check"></use></svg>
                        Gastos médicos
                      </li>
                    </ul>
                  </div>
                  <div class="col-12 col-sm-12 col-md-4 col-lg-2 px-md-0 text-center">
                    <div class="display-6 font-weight-bold">
                      <!-- <span
                        class="text-secondary lead float-none w-100"
                        style="font-weight:bold;font-size:13px">
                          COBERTURA AMPLIA
                      </span> -->
                      <span style="font-size:28px;font-weight:bold;text-center;color:green">
                        <span style="font-size:12px; color:gray;">DESDE:</span>
                        $2,815
                      </span>
                      <br />
                      <p style="font-weight:bold; color:#212529">+ Meses sin Intereses</p>
                    </div>
                  </div>                
                  <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 mb-2">
                    <a
                      data-toggle="modal"
                      data-target="#exampleModal"
                      v-bind:class="{
                        disabled: this.$store.state.config.habilitarBtnInteraccion
                      }"
                      class="btn btn-success btn-block b-radius py-3 px-3 font-weight-bold mt-2"
                      href=""
                      rel="nofollow"
                      role="button"
                      disabled="onClick"
                    >
                      <svg class="icons"><use xlink:href="#llamada"></use></svg>
                      <span class="text-white p-1">
                        COMPRAR POR TELÉFONO
                      </span>
                      <svg class="icons"><use xlink:href="#proximo"></use></svg>
                    </a>
                  </div>

                   <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                      <div class="table-responsive">
                      <table class="table table-hover table-sm colorGray style_table">
                        <thead>
                          <tr>
                            <th>Coberturas</th>
                            <th>Precio</th>
                            <th>Deducible</th>
                          </tr>
                        </thead> 
                        <tbody>
                          <tr>
                            <th>RESPONSABILIDAD CIVIL POR DAÑOS  A TERCEROS</th> 
                            <td>AMPARADA</td> 
                            <!--<td>$ 1,000,000.00</td>-->
                            <td>No aplica</td>
                          </tr>
                          <tr>
                            <th>PROTECCION LEGAL</th> 
                            <td>AMPARADA</td> 
                            <td>No aplica</td>
                          </tr>

                          <tr>
                            <th>SERVICIOS FUNERALES</th> 
                            <td>AMPARADA</td> 
                            <td>No aplica</td>
                          </tr>
                          <tr>
                            <th>PÉRDIDAS ORGÁNICAS</th> 
                            <td>AMPARADA</td> 
                            <td>No aplica</td>
                          </tr>
                          <tr>
                            <th>ASISTENCIA VIAL PARA MOTOCICLETAS</th> 
                            <td>AMPARADA</td> 
                            <td>No aplica</td>
                          </tr>
                        </tbody>
                        </table>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> 
</template>
<style>
  .colorGray {
    color: #494c4a!important;
    text-align: left;
  }
</style>
