<template>
  <div class="col-12 col-lg-10 offset-lg-1">
    <div v-if="this.$store.state.formData.marca == 'ITALIKA'">
      <azteca></azteca>
      <cotizando-component v-if="$store.state.cargandocotizacion" />
    </div>
    <div v-else>
      <cotizando-component v-if="$store.state.cargandocotizacion" />
      <!-- <azteca></azteca> -->
    </div>
    <!--BANORTE-->
    <div class="container-fluid px-0 mb-2" id="banorte">
      <div class="card border-0">
        <div class="card-body py-2">
          <div class="row justify-content-center bg-white">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 align-items-center shadow-cards">
              <div class="row">
                <div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3">
                  <img class="img-fluid" style="width:150px;display:block;margin:0 auto;" src="/img/asg/logo/banorte_new.svg"
                    alt="Aseguradora Banorte" />
                </div>
                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 d-none d-sm-none d-md-block">
                  <ul style="list-style:none;padding-left:0;font-size:20px;" class="">
                    <li>
                      <svg class="icons">
                        <use xlink:href="#check"></use>
                      </svg>
                      Robo Total
                    </li>
                    <li>
                      <svg class="icons">
                        <use xlink:href="#check"></use>
                      </svg>
                      Daños a terceros
                    </li>
                    <li>
                      <svg class="icons">
                        <use xlink:href="#check"></use>
                      </svg>
                      Gastos médicos
                    </li>
                  </ul>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-2 col-xl-2 text-center text-md-left">
                  <div class=" font-weight-bold">.
                    <span class="text-secondary lead float-none w-100" style="font-weight:bold;font-size:14px">COBERTURA
                      AMPLIA</span><br />
                    <p class="text-secondary lead float-none w-100 text-center" style="font-size:10px; font-weight:100;">
                      Precio no disponible</p>
                    <br />
                  </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 mb-2">
                  <div class="text-center col-12">
                    <a id="btnTrackingTelefono" v-on:click="show = !show"
                      class="d-inline-bloc btn btn-block b-radius fw-bold p-0 m-0 tooltip-toggle-leo" :data-tooltip="
                        'Obtén ' +
                        this.$store.state.config.desc +
                        ' ' +
                        this.$store.state.config.msi
                      " tabindex="0" target="_blank" rel="nofollow" role="button" @click="saveInteraccion()"
                      v-bind:class="{
                        disabled: !this.$store.state.config.btn,
                      }" :disabled="this.$store.state.config.btnEmisionDisabled" v-if="$store.state.config.emision === true">

                      <img src="/img/btn_interaccion.svg" alt="btn" class="btn-ecomercep img-fluid" width="260" height="60" />
                    </a>
                  </div>
                  <div class="text-center col-12">
                    <a id="btnTrackingEcommerce" class="btn btn-block b-radius p-0 m-0 fw-bold tooltip-toggle-leo"
                      :data-tooltip="
                        'Obtén ' +
                        this.$store.state.config.desc +
                        ' ' +
                        this.$store.state.config.msi
                      " tabindex="0" target="_blank" rel="nofollow" role="button" @click="conectarEmision()"
                      v-bind:class="{
                        disabled: !this.$store.state.config.btn,
                      }" :disabled="this.$store.state.config.btnEmisionDisabled" v-if="$store.state.config.emision === true">

                      <img src="/img/btn_ecommerce.svg" alt="btn" class="btn-ecomercep img-fluid" width="260" height="60">
                    </a>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="collapse" id="amplia-inbursa">
            <div class="card card-body p-0 border-0">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="table-responsive">
                      <table class="table table-sm table-striped table-bordered table-hover">
                        <thead>
                          <tr>
                            <th scope="col">Cobertura</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Deducible</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">DAÑOS MATERIALES</th>
                            <th scope="row">$ 386,000</th>
                            <th scope="row">5%</th>
                          </tr>
                          <tr>
                            <th scope="row">ROBO TOTAL</th>
                            <th scope="row">$ 386,000</th>
                            <th scope="row">10%</th>
                          </tr>
                          <tr>
                            <th scope="row">RESPONSABILIDAD CIVIL</th>
                            <th scope="row">$ 3,000,000</th>
                            <th scope="row">NO APLICA</th>
                          </tr>
                          <tr>
                            <th scope="row">RC EN EL EXTRANJERO</th>
                            <th scope="row">$ 1,200,000</th>
                            <th scope="row">NO APLICA</th>
                          </tr>
                          <tr>
                            <th scope="row">ASISTENCIA VIAL</th>
                            <th scope="row">$ 8,560</th>
                            <th scope="row">NO APLICA</th>
                          </tr>
                          <tr>
                            <th scope="row">GASTOS LEGALES</th>
                            <th scope="row">$ 3,000,000</th>
                            <th scope="row">NO APLICA</th>
                          </tr>
                          <tr>
                            <th scope="row">GASTOS MÉDICOS</th>
                            <th scope="row">$ 200,000</th>
                            <th scope="row">NO APLICA</th>
                          </tr>
                          <tr>
                            <th scope="row">
                              MUERTE DEL CONDUCTOR POR ACCIDENTE AUTOMOVILISTICO
                            </th>
                            <th scope="row">$ 50,000</th>
                            <th scope="row">NO APLICA</th>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- FIN DE BANORTE -->
    <!-- INICIO DE MIGO -->
    <div class="container-fluid px-0 mb-2" id="ana">
      <div class="card border-0">
        <div class="card-body py-2">
          <div class="row justify-content-center bg-white">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 align-items-center shadow-cards">
              <div class="row">
                <div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3">
                  <img class="img-fluid" style="width:120px;display:block;margin:0 auto;" src="/img/asg/logo/migo.svg"
                    alt="Migo Seguros" />
                </div>
                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 d-none d-sm-none d-md-block">
                  <ul style="list-style:none;padding-left:0;font-size:20px;" class="">
                    <li>
                      <svg class="icons">
                        <use xlink:href="#check"></use>
                      </svg>
                      Robo Total
                    </li>
                    <li>
                      <svg class="icons">
                        <use xlink:href="#check"></use>
                      </svg>
                      Daños a terceros
                    </li>
                    <li>
                      <svg class="icons">
                        <use xlink:href="#check"></use>
                      </svg>
                      Gastos médicos
                    </li>
                  </ul>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-2 col-xl-2 text-center text-md-left">
                  <div class="display-6 font-weight-bold">

                    <span class="text-secondary lead float-none w-100" style="font-weight:bold;font-size:14px">COBERTURA
                      AMPLIA</span><br />
                    <p class="text-secondary lead float-none w-100 text-center" style="font-size:10px; font-weight:100;">
                      Precio no disponible</p>
                    <br />
                  </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 mb-2">
                  <div class="text-center col-12">
                    <a id="btnTrackingTelefono" v-on:click="show = !show"
                      class="d-inline-bloc btn btn-block b-radius fw-bold p-0 m-0 tooltip-toggle-leo" :data-tooltip="
                        'Obtén ' +
                        this.$store.state.config.desc +
                        ' ' +
                        this.$store.state.config.msi
                      " tabindex="0" target="_blank" rel="nofollow" role="button" @click="saveInteraccion()"
                      v-bind:class="{
                        disabled: !this.$store.state.config.btn,
                      }" :disabled="this.$store.state.config.btnEmisionDisabled" v-if="$store.state.config.emision === true">

                      <img src="/img/btn_interaccion.svg" alt="btn" class="btn-ecomercep img-fluid" width="260" height="60" />
                    </a>
                  </div>
                  <div class="text-center col-12">
                    <a id="btnTrackingEcommerce" class="btn btn-block b-radius p-0 m-0 fw-bold tooltip-toggle-leo"
                      :data-tooltip="
                        'Obtén ' +
                        this.$store.state.config.desc +
                        ' ' +
                        this.$store.state.config.msi
                      " tabindex="0" target="_blank" rel="nofollow" role="button" @click="conectarEmision()"
                      v-bind:class="{
                        disabled: !this.$store.state.config.btn,
                      }" :disabled="this.$store.state.config.btnEmisionDisabled" v-if="$store.state.config.emision === true">

                      <img src="/img/btn_ecommerce.svg" alt="btn" class="btn-ecomercep img-fluid" width="260" height="60">
                    </a>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="collapse" id="amplia-ana" style="">
            <div class="card card-body p-0 border-0">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="table-responsive">
                      <table class="table table-sm table-striped table-bordered table-hover">
                        <thead>
                          <tr>
                            <th scope="col">Cobertura</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Deducible</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">DAÑOS MATERIALES</th>
                            <th scope="row">$ 386,000</th>
                            <th scope="row">5%</th>
                          </tr>
                          <tr>
                            <th scope="row">ROBO TOTAL</th>
                            <th scope="row">$ 386,000</th>
                            <th scope="row">10%</th>
                          </tr>
                          <tr>
                            <th scope="row">RESPONSABILIDAD CIVIL</th>
                            <th scope="row">$ 3,000,000</th>
                            <th scope="row">NO APLICA</th>
                          </tr>
                          <tr>
                            <th scope="row">RC EN EL EXTRANJERO</th>
                            <th scope="row">$ 1,200,000</th>
                            <th scope="row">NO APLICA</th>
                          </tr>
                          <tr>
                            <th scope="row">ASISTENCIA VIAL</th>
                            <th scope="row">$ 8,560</th>
                            <th scope="row">NO APLICA</th>
                          </tr>
                          <tr>
                            <th scope="row">GASTOS LEGALES</th>
                            <th scope="row">$ 3,000,000</th>
                            <th scope="row">NO APLICA</th>
                          </tr>
                          <tr>
                            <th scope="row">GASTOS MÉDICOS</th>
                            <th scope="row">$ 200,000</th>
                            <th scope="row">NO APLICA</th>
                          </tr>
                          <tr>
                            <th scope="row">
                              MUERTE DEL CONDUCTOR POR ACCIDENTE AUTOMOVILISTICO
                            </th>
                            <th scope="row">$ 50,000</th>
                            <th scope="row">NO APLICA</th>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- FIN DE MIGO -->
    <!--INBURSA-->
    <div class="container-fluid px-0 mb-2" id="inbursa">
      <div class="card border-0">
        <div class="card-body py-2">
          <div class="row justify-content-center bg-white">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 align-items-center shadow-cards">
              <div class="row">
                <div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3">
                  <img class="img-fluid" style="width:150px;display:block;margin:0 auto;" src="/img/asg/logo/inbursa.svg"
                    alt="Seguros Inbursa" />
                </div>
                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 d-none d-sm-none d-md-block">
                  <ul style="list-style:none;padding-left:0;font-size:20px;" class="">
                    <li>
                      <svg class="icons">
                        <use xlink:href="#check"></use>
                      </svg>
                      Robo Total
                    </li>
                    <li>
                      <svg class="icons">
                        <use xlink:href="#check"></use>
                      </svg>
                      Daños a terceros
                    </li>
                    <li>
                      <svg class="icons">
                        <use xlink:href="#check"></use>
                      </svg>
                      Gastos médicos
                    </li>
                  </ul>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-2 col-xl-2 text-center text-md-left">
                  <div class="display-6 font-weight-bold">
                    <span class="text-secondary lead float-none w-100"></span>
                    <br />
                    <span class="text-secondary lead float-none w-100" style="font-weight:bold;font-size:14px">COBERTURA
                      AMPLIA</span>
                    <p class="text-secondary lead float-none w-100 text-center" style="font-size:10px; font-weight:100;">
                      Precio no disponible</p>
                    <br />
                  </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 mb-2">
                  <div class="text-center col-12">
                    <a id="btnTrackingTelefono" v-on:click="show = !show"
                      class="d-inline-bloc btn btn-block b-radius fw-bold p-0 m-0 tooltip-toggle-leo" :data-tooltip="
                        'Obtén ' +
                        this.$store.state.config.desc +
                        ' ' +
                        this.$store.state.config.msi
                      " tabindex="0" target="_blank" rel="nofollow" role="button" @click="saveInteraccion()"
                      v-bind:class="{
                        disabled: !this.$store.state.config.btn,
                      }" :disabled="this.$store.state.config.btnEmisionDisabled" v-if="$store.state.config.emision === true">

                      <img src="/img/btn_interaccion.svg" alt="btn" class="btn-ecomercep img-fluid" width="260" height="60" />
                    </a>
                  </div>
                  <div class="text-center col-12">
                    <a id="btnTrackingEcommerce" class="btn btn-block b-radius p-0 m-0 fw-bold tooltip-toggle-leo"
                      :data-tooltip="
                        'Obtén ' +
                        this.$store.state.config.desc +
                        ' ' +
                        this.$store.state.config.msi
                      " tabindex="0" target="_blank" rel="nofollow" role="button" @click="conectarEmision()"
                      v-bind:class="{
                        disabled: !this.$store.state.config.btn,
                      }" :disabled="this.$store.state.config.btnEmisionDisabled" v-if="$store.state.config.emision === true">

                      <img src="/img/btn_ecommerce.svg" alt="btn" class="btn-ecomercep img-fluid" width="260" height="60">
                    </a>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="collapse" id="amplia-inbursa" style="">
            <div class="card card-body p-0 border-0">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="table-responsive">
                      <table class="table table-sm table-striped table-bordered table-hover">
                        <thead>
                          <tr>
                            <th scope="col">Cobertura</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Deducible</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">DAÑOS MATERIALES</th>
                            <th scope="row">$ 386,000</th>
                            <th scope="row">5%</th>
                          </tr>
                          <tr>
                            <th scope="row">ROBO TOTAL</th>
                            <th scope="row">$ 386,000</th>
                            <th scope="row">10%</th>
                          </tr>
                          <tr>
                            <th scope="row">RESPONSABILIDAD CIVIL</th>
                            <th scope="row">$ 3,000,000</th>
                            <th scope="row">NO APLICA</th>
                          </tr>
                          <tr>
                            <th scope="row">RC EN EL EXTRANJERO</th>
                            <th scope="row">$ 1,200,000</th>
                            <th scope="row">NO APLICA</th>
                          </tr>
                          <tr>
                            <th scope="row">ASISTENCIA VIAL</th>
                            <th scope="row">$ 8,560</th>
                            <th scope="row">NO APLICA</th>
                          </tr>
                          <tr>
                            <th scope="row">GASTOS LEGALES</th>
                            <th scope="row">$ 3,000,000</th>
                            <th scope="row">NO APLICA</th>
                          </tr>
                          <tr>
                            <th scope="row">GASTOS MÉDICOS</th>
                            <th scope="row">$ 200,000</th>
                            <th scope="row">NO APLICA</th>
                          </tr>
                          <tr>
                            <th scope="row">
                              MUERTE DEL CONDUCTOR POR ACCIDENTE AUTOMOVILISTICO
                            </th>
                            <th scope="row">$ 50,000</th>
                            <th scope="row">NO APLICA</th>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- FIN DE INBURSA -->
    <!--inicio Ana-->
    <div class="container-fluid px-0 mb-2" id="ana">
      <div class="card border-0">
        <div class="card-body py-2">
          <div class="row justify-content-center bg-white">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 align-items-center shadow-cards">
              <div class="row">
                <div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3">
                  <img class="img-fluid" style="width:150px;display:block;margin:0 auto;" src="/img/asg/logo/ana.svg"
                    alt="Ana Seguros" />
                </div>
                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 d-none d-sm-none d-md-block">
                  <ul style="list-style:none;padding-left:0;font-size:20px;" class="">
                    <li>
                      <svg class="icons">
                        <use xlink:href="#check"></use>
                      </svg>
                      Robo Total
                    </li>
                    <li>
                      <svg class="icons">
                        <use xlink:href="#check"></use>
                      </svg>
                      Daños a terceros
                    </li>
                    <li>
                      <svg class="icons">
                        <use xlink:href="#check"></use>
                      </svg>
                      Gastos médicos
                    </li>
                  </ul>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-2 col-xl-2 text-center text-md-left">
                  <div class="display-6 font-weight-bold">
                    <span class="text-secondary lead float-none w-100"></span>
                    <br />
                    <span class="text-secondary lead float-none w-100" style="font-weight:bold;font-size:14px">COBERTURA
                      AMPLIA</span><br />
                    <p class="text-secondary lead float-none w-100 text-center"
                      style="font-size:10px; font-weight: 100; ">Precio no disponible</p>
                    <br />
                  </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 mb-2">
                  <div class="text-center col-12">
                    <a id="btnTrackingTelefono" v-on:click="show = !show"
                      class="d-inline-bloc btn btn-block b-radius fw-bold p-0 m-0 tooltip-toggle-leo" :data-tooltip="
                        'Obtén ' +
                        this.$store.state.config.desc +
                        ' ' +
                        this.$store.state.config.msi
                      " tabindex="0" target="_blank" rel="nofollow" role="button" @click="saveInteraccion()"
                      v-bind:class="{
                        disabled: !this.$store.state.config.btn,
                      }" :disabled="this.$store.state.config.btnEmisionDisabled" v-if="$store.state.config.emision === true">

                      <img src="/img/btn_interaccion.svg" alt="btn" class="btn-ecomercep img-fluid" width="260" height="60" />
                    </a>
                  </div>
                  <div class="text-center col-12">
                    <a id="btnTrackingEcommerce" class="btn btn-block b-radius p-0 m-0 fw-bold tooltip-toggle-leo"
                      :data-tooltip="
                        'Obtén ' +
                        this.$store.state.config.desc +
                        ' ' +
                        this.$store.state.config.msi
                      " tabindex="0" target="_blank" rel="nofollow" role="button" @click="conectarEmision()"
                      v-bind:class="{
                        disabled: !this.$store.state.config.btn,
                      }" :disabled="this.$store.state.config.btnEmisionDisabled" v-if="$store.state.config.emision === true">

                      <img src="/img/btn_ecommerce.svg" alt="btn" class="btn-ecomercep img-fluid" width="260" height="60">
                    </a>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="collapse" id="amplia-ana" style="">
            <div class="card card-body p-0 border-0">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="table-responsive">
                      <table class="table table-sm table-striped table-bordered table-hover">
                        <thead>
                          <tr>
                            <th scope="col">Cobertura</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Deducible</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">DAÑOS MATERIALES</th>
                            <th scope="row">$ 386,000</th>
                            <th scope="row">5%</th>
                          </tr>
                          <tr>
                            <th scope="row">ROBO TOTAL</th>
                            <th scope="row">$ 386,000</th>
                            <th scope="row">10%</th>
                          </tr>
                          <tr>
                            <th scope="row">RESPONSABILIDAD CIVIL</th>
                            <th scope="row">$ 3,000,000</th>
                            <th scope="row">NO APLICA</th>
                          </tr>
                          <tr>
                            <th scope="row">RC EN EL EXTRANJERO</th>
                            <th scope="row">$ 1,200,000</th>
                            <th scope="row">NO APLICA</th>
                          </tr>
                          <tr>
                            <th scope="row">ASISTENCIA VIAL</th>
                            <th scope="row">$ 8,560</th>
                            <th scope="row">NO APLICA</th>
                          </tr>
                          <tr>
                            <th scope="row">GASTOS LEGALES</th>
                            <th scope="row">$ 3,000,000</th>
                            <th scope="row">NO APLICA</th>
                          </tr>
                          <tr>
                            <th scope="row">GASTOS MÉDICOS</th>
                            <th scope="row">$ 200,000</th>
                            <th scope="row">NO APLICA</th>
                          </tr>
                          <tr>
                            <th scope="row">
                              MUERTE DEL CONDUCTOR POR ACCIDENTE AUTOMOVILISTICO
                            </th>
                            <th scope="row">$ 50,000</th>
                            <th scope="row">NO APLICA</th>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- FIN DE ANA -->
    <!--inicio LA LATINO-->
    <div class="container-fluid px-0 mb-2" id="lalatino">
      <div class="card border-0">
        <div class="card-body py-2">
          <div class="row justify-content-center bg-white">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 align-items-center shadow-cards">
              <div class="row">
                <div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3">
                  <img class="img-fluid" style="width:150px;display:block;margin:0 auto;" src="/img/asg/logo/lalatino.svg"
                    alt="LA Latino Seguros" />
                </div>
                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 d-none d-sm-none d-md-block">
                  <ul style="list-style:none;padding-left:0;font-size:20px;" class="">
                    <li>
                      <svg class="icons">
                        <use xlink:href="#check"></use>
                      </svg>
                      Robo Total
                    </li>
                    <li>
                      <svg class="icons">
                        <use xlink:href="#check"></use>
                      </svg>
                      Daños a terceros
                    </li>
                    <li>
                      <svg class="icons">
                        <use xlink:href="#check"></use>
                      </svg>
                      Gastos médicos
                    </li>
                  </ul>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-2 col-xl-2 text-center text-md-left">
                  <div class="display-6 font-weight-bold">
                    <span class="text-secondary lead float-none w-100"></span>
                    <br />
                    <span class="text-secondary lead float-none w-100" style="font-weight:bold;font-size:14px">COBERTURA
                      AMPLIA</span><br />
                    <p class="text-secondary lead float-none w-100 text-center" style="font-size:10px; font-weight: 100;">
                      Precio no disponible</p>
                    <br />
                  </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 mb-2">
                  <div class="text-center col-12">
                    <a id="btnTrackingTelefono" v-on:click="show = !show"
                      class="d-inline-bloc btn btn-block b-radius fw-bold p-0 m-0 tooltip-toggle-leo" :data-tooltip="
                        'Obtén ' +
                        this.$store.state.config.desc +
                        ' ' +
                        this.$store.state.config.msi
                      " tabindex="0" target="_blank" rel="nofollow" role="button" @click="saveInteraccion()"
                      v-bind:class="{
                        disabled: !this.$store.state.config.btn,
                      }" :disabled="this.$store.state.config.btnEmisionDisabled" v-if="$store.state.config.emision === true">

                      <img src="/img/btn_interaccion.svg" alt="btn" class="btn-ecomercep img-fluid" width="260" height="60" />
                    </a>
                  </div>
                  <div class="text-center col-12">
                    <a id="btnTrackingEcommerce" class="btn btn-block b-radius p-0 m-0 fw-bold tooltip-toggle-leo"
                      :data-tooltip="
                        'Obtén ' +
                        this.$store.state.config.desc +
                        ' ' +
                        this.$store.state.config.msi
                      " tabindex="0" target="_blank" rel="nofollow" role="button" @click="conectarEmision()"
                      v-bind:class="{
                        disabled: !this.$store.state.config.btn,
                      }" :disabled="this.$store.state.config.btnEmisionDisabled" v-if="$store.state.config.emision === true">

                      <img src="/img/btn_ecommerce.svg" alt="btn" class="btn-ecomercep img-fluid" width="260" height="60">
                    </a>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="collapse" id="amplia-lalatino" style="">
            <div class="card card-body p-0 border-0">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="table-responsive">
                      <table class="table table-sm table-striped table-bordered table-hover">
                        <thead>
                          <tr>
                            <th scope="col">Cobertura</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Deducible</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">DAÑOS MATERIALES</th>
                            <th scope="row">$ 386,000</th>
                            <th scope="row">5%</th>
                          </tr>
                          <tr>
                            <th scope="row">ROBO TOTAL</th>
                            <th scope="row">$ 386,000</th>
                            <th scope="row">10%</th>
                          </tr>
                          <tr>
                            <th scope="row">RESPONSABILIDAD CIVIL</th>
                            <th scope="row">$ 3,000,000</th>
                            <th scope="row">NO APLICA</th>
                          </tr>
                          <tr>
                            <th scope="row">RC EN EL EXTRANJERO</th>
                            <th scope="row">$ 1,200,000</th>
                            <th scope="row">NO APLICA</th>
                          </tr>
                          <tr>
                            <th scope="row">ASISTENCIA VIAL</th>
                            <th scope="row">$ 8,560</th>
                            <th scope="row">NO APLICA</th>
                          </tr>
                          <tr>
                            <th scope="row">GASTOS LEGALES</th>
                            <th scope="row">$ 3,000,000</th>
                            <th scope="row">NO APLICA</th>
                          </tr>
                          <tr>
                            <th scope="row">GASTOS MÉDICOS</th>
                            <th scope="row">$ 200,000</th>
                            <th scope="row">NO APLICA</th>
                          </tr>
                          <tr>
                            <th scope="row">
                              MUERTE DEL CONDUCTOR POR ACCIDENTE AUTOMOVILISTICO
                            </th>
                            <th scope="row">$ 50,000</th>
                            <th scope="row">NO APLICA</th>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- FIN DE LALATINO -->
  </div>
</template>
<script>
import azteca from "~/components/utilities/precios-azteca.vue";
import cotizandoComponent from "~/components/common/cotizando.vue";
export default {
  created: function () {
    // Cotizacion
    this.$store.state.config.btn=false;
   
  },

  components: {
    azteca,
    cotizandoComponent,
  },

}
</script>
<style>

</style>