<template>
  <div class="container-fuid">
    <br><br><br><br>
    <div class="row motoFunnel">
      <div class="col-xl-6">
        <!-- DATOS DE LA MOTO -->
        <p>
          Estas Cotizazndo Una
          <b>{{$store.state.formData.marca}} {{$store.state.formData.modelo}} {{$store.state.formData.tipo}} {{$store.state.formData.descripcion}}</b>
        </p>
      </div>
      <!-- TELEFONO -->
      <div class="col-xl-6">
        <p>
          Teléfono:
          <a :href="'tel:55' + $store.state.config.telefonoAS">
            <b>55{{$store.state.config.telefonoAS}}</b>
          </a>
        </p>
      </div>
      <!-- NOMBRE DEL EJECUTIVO -->
      <div class="col-xl-6">
        <p>
          Nombre de tu ejecutivo:
          <b>{{$store.state.ejecutivo.nombre}}</b>
        </p>
      </div>
      <!-- CORREO DE EJECUTIVO -->
      <div class="col-xl-6">
        <p>
          Correo:
          <b>{{$store.state.ejecutivo.correo}}</b>
        </p>
      </div>
    </div>
    <br><br><br><br>
  </div>
</template>