<template>
  <div v-if="
                        this.$store.state.cargandocotizacion &&
                      this.$store.state.formData.precio > 0 &&
                      this.$store.state.formData.precio != null &&
                      this.$store.state.formData.precio != ''
                    ">
    <!-- <div class="text-center dinero"> -->
    <div class="navbar dinero px-0">
      <!-- LOGO -->
      <!-- <img class="d-none d-md-block" src="/img/asg/logo/qualitas.png" :alt="$store.state.config.asgNombre" /> -->
      <div class="m-auto">
        <!-- PRECIO -->
        <p>Precio de tu seguro:</p>
        <span>{{$store.state.formData.precio | currency}}</span>
      </div>
      <!-- <div class="m-auto m-md-0">
        <a class="btn" target="_blank" rel="nofollow" role="button" @click="conectarAEmision()"><img src="/img/icon/carSuper.svg" alt="Car">&nbsp; Compra en línea&nbsp;<img src="/img/icon/indicador.gif" alt="chevron"></a>
      </div> -->
    </div>
    <botones></botones>
    <div class="rest">
      <!-- <img src="/img/icon/person.svg" alt="Call"> -->
      <!-- DATOS -->

      <!-- TABLA -->
      <span>
        <b>Coberturas</b>
      </span>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Cobertura</th>
              <th scope="col">Suma asegurada</th>
              <th scope="col">Deducible</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) in this.$store.state.cotizacion.coberturas" :key="index">
              <td>{{item | showName}}</td>
              <td>{{item | showSuma}}</td>
              <td>{{item | showDeducible}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import botones from "~/components/common/botones.vue";
export default {

  components: {
    botones
  },
  filters: {
    showName: function(value) {
      return value.nombre;
    },
    showSuma: function(value) {
      // accede al atributo sumaAsegurada
      var sumaAseg = value.sumaAsegurada;
      var regExp = /[123456789]/;
      var result = regExp.exec(sumaAseg);
      // console.log(result);
      if (sumaAseg == 0 || sumaAseg == "") {
        // Si no trae valores regresa "No aplica"
        sumaAseg = "No aplica";
        // Si trae un "1" regresa Amparada
      } else if (sumaAseg == 1) {
        sumaAseg = "Amparada";
        // Si trae numeros entra al else if
      } else if (result != null) {
        //tiene numeros 1-9
        var regExp2 = /[a-zA-Z]/g;
        var result2 = regExp2.exec(sumaAseg);
        // Inserta signo de pesos
        if (sumaAseg.includes("$") == false) {
          if (result2 != null) {
            //V. COMERCIAL50000
            sumaAseg =
              sumaAseg.substring(0, result.index) +
              " $ " +
              sumaAseg.substring(result.index, sumaAseg.length);
          } else {
            sumaAseg = "$ " + sumaAseg;
          }
        }
        // Inserta .00
        if (sumaAseg.includes(".0") == true) {
          if (sumaAseg.includes(".00") == false) {
            sumaAseg = sumaAseg + "0";
          }
        } else {
          sumaAseg = sumaAseg + ".00";
        }
        //Inserta las comas
        if (!sumaAseg.includes(",")) {
          var result3 = regExp.exec(sumaAseg);
          var inicio = result3.index;
          var regExp3 = /\.00/;
          var result4 = regExp3.exec(sumaAseg);
          var fin = result4.index;
          var n = (fin - inicio) / 3;
          if (n > 1 && n <= 2) {
            //1,000->100,000
            var z = sumaAseg.substring(fin - 3, fin);
            var y = sumaAseg.substring(inicio, fin - 3);
            var x = sumaAseg.substring(0, inicio);
            var zz = sumaAseg.substring(fin, sumaAseg.length);
            sumaAseg = x + y + "," + z + zz;
          } else if (n > 2 && n <= 3) {
            //1,000,000->100,000,000
            var z = sumaAseg.substring(fin - 3, fin);
            var z2 = sumaAseg.substring(fin - 6, fin - 3);
            var y2 = sumaAseg.substring(inicio, fin - 6);
            var x = sumaAseg.substring(0, inicio);
            var zz = sumaAseg.substring(fin, sumaAseg.length);
            var sumaAseg = x + y2 + "," + z2 + "," + z + zz;
          }
        }
      }
      return sumaAseg;
    },
    showDeducible: function(value) {
      var deducible = value.deducible;
      var regExp = /[123456789]/;
      var result = regExp.exec(deducible);
      if (deducible == 0 || deducible == "" || deducible == "0%") {
        deducible = "No aplica";
      } else if (deducible.includes("$") == true) {
        if (deducible.includes(".0") == true) {
          if (deducible.includes(".00") == false) {
            deducible = deducible + "0";
          }
        } else {
          deducible = deducible + ".00";
        }
      } else if (result != null) {
        //tiene numeros 1-9
        if (deducible.includes("%") == false) {
          deducible = deducible + " %";
        }
      } else if (typeof deducible == `string`) {
        deducible = deducible;
      }
      return deducible;
    },
  },
};
</script>























































































































































