body{
  margin: 0;
  background: #fff;
}
.fz-24{
  font-size: 28px;
}
.mot{color: #444;font-weight: 700;font-size: 1rem;}
.tri {
  width: 0;
  height: 0;
  margin: 0 auto;
  border-bottom: 15px solid transparent;
  border-top: 33px solid #FFF;
  border-left: 33px solid transparent;
  border-right: 33px solid transparent;
}
/* span, h2, h3, h4, h5{
  color: #344e97;
} */
h2, h3, h4, h5{
  color: #344e97;
}
.dauto {
  font-size: 22px;
  border:solid 2px #344e97;
  /*color: #fff;*/
  border-radius: 4px;
  font-weight: 900;
  margin: auto;
  padding: 5px 10px;
  /* box-shadow: 0 0 5px 2px rgb(0 0 0 / 20%); */
}
p, li{
  color: #444;
}
a, a:hover{
  text-decoration: none
}
ul{
  list-style: none;
}
.list {
  text-align: center;
}
.list img {
  width: 85px;
  margin: 10px 15px;
}
.list li {
  list-style: none;
  display: inline;
}
li img{
  width: 17px;
}
 .endCont img{
  width: 220px;
  margin: 0;
}
.logoh img {width: 220px;}
.btnTel a img{
  width: 25px;
  margin: 0;
}

.btnTel a{
  font-size: 18px;  
  color: #344e97;
  border: 2px solid #344e97;
  padding: 3px 10px;
  margin: 0 5px 0 0;
}
.btnTel a:hover{
  color: #2d4b9c;
}
.btnTel p{
  font-size: 12px;
  padding: 0;
  margin: 0 0 -5px 10px;
  color: #344e97;
}
.imgFondo {
  background-repeat: no-repeat;
  background-image: url(/img/asg/bg/bg.jpg);
  /* overflow: hidden; */
  background-size: cover;
  position: relative;
  background-position-y:70% ;
}
.colorFondo {
  /* background:rgba(0, 0, 0, 0.5); */
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
li > img{
  width: 17px;
}
.txtForm {
  margin: auto;
  color: #FFF;
  text-align: center;
  font-size: 18px;
}

.form {
  padding: 4px 5px;    
}

.form select,
.form input {
  height: 52px;
  font-size: 1.2rem;
  border-radius: 5px;
  border: none;
  padding: 0 5px;
  font-size: 18px;
  color: #444;
}

.form select:focus,
.form input:focus {
  box-shadow: 0 0 0 3px #344e97;
}

.form select.is-invalid,
.form input.is-invalid {
  box-shadow: 0 0 0 2px #ff0000;
}

.checkBox {
  margin: auto;
}

.checkBox label,
.checkBox b {
  color: #fff;
  font-size: 14px;
}
.check b {
  color: #556;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  margin-top: 0px;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
  margin-top: 0px;
}

.btnform {
  margin: 0;
  padding: 0 5px;
}

.btnform button {
  background: #198754;;
  color: #fff;
  border-radius: 5px;
  width: 100%;
  font-size: 28px;
  padding: 5px 0;
  margin: 0 0 15px 0;
}

.btnform button:hover {
  color: #fff;
  background: #344e97;
}
h1{
  font-size: 36px;
  color: #fff;
  margin: 5% 0 0 0;
  text-align: center;
}
.txt p{
  margin: 1% 0 0 0;
  padding: 0 15px 3px 3px;
  font-weight: bold;
  font-size: 24px;
  color: #fff;
  border: 2px solid #344e97;
  border-radius: 5px;
  position: absolute;
}
/************************************.txt img{
  width: 180px;
  position: absolute;
  right: 2%;
  top: 45%;
}*********************************/
.card{
  text-align: center;
  padding: 8px 10px;

  border-radius: 10px;
  box-shadow: 0 0 5px 0px rgb(0 0 0 / 25%);
}
.card .row{
  align-items: center;
}
/* .card img{
  width: 150px;
} */
.card img[name="img"]{
  width: 70px;
}
.card p{
  color: #008c99;
  font-size: 11px;
  font-weight: bold;
  margin: 0;
}
.cont{
  margin-top: 1%;
  font-size: 20px;
  line-height: 1.7;
}
.addCont{
  text-align: center;
}
.addCont span{
  font-size: 32px;
}
.addCont p{
  font-size: 18px;
}
.addCont img{
  width: 100px;
  margin: 4% 0 0 0;
}
.logo{
  width: 90%;
  margin: auto;
  display: block;
}
hr{
  border-bottom: 3px solid #344e97;
  margin: 1% 0 0 15%;
  padding: 0;
  width: 70%;
}
.bgColor{
  background: #008c99;
  text-align: center;
  padding: 0 0 1% 0;
}
.bgColor h2, .bgColor p{
  text-align: left;
  color: #fff;
}
.bgColor img{
  width: 60px;
}
.bgColor li{
  color: #fff;
  text-align: left;
}
.bgColor li img{
  width: 17px;
}
.endCont{
  background: #f8f8f8;
  text-align: center;
}
.endCont .navbar p, .endCont .navbar a{
  color: #344e97;
  font-size: 16px;
}
.endCont p, a{
  /* font-size: 10px; */
  color: #b8b8b8;
  text-align: left;
}
.endCont p, a:hover{
  color: #b8b8b8;
}
.footer{
  background: #344e97;
  padding: 1% 0 0 0;
}
.footer a, .footer p, .footer span{
  color: #fff;
  font-size: 18px;
  text-align: center;
}
.botonTop{
  background: #344e97;
}
.botonTop:hover{
  background: #3350a0;
}
/* THANKS */
.txtVist{
  text-align: center;
}
.txtVist p{
  margin: 0;
}
.txtVist b{
  font-size: 36px;
  color: #444;
  text-align: center;
}
.txtVist span{
  color: #fff;
  text-align: center;
  font-size: 22px;
}
.dinero p{
  margin: 30px 0 0 0;
  color: #fff;
  font-size: 18px;
}
.dinero img{
  margin: -5px 0 0 0;
  width: 25px;
}
.dinero span{
  color: #fff;
  font-size: 46px;
  font-weight: bold;
}
.dinero button{
  background: #344e97;
  color: #fff;
  padding: 10px;
  border-radius: 8px;
}
.dinero button:hover{
  background: #f05c00;
  color: #fff;
}
.rest{
  margin: 0 0 10px 0;
  padding: 10px;
  background: #fff;
  border-radius: 10px;
  text-align: center;
}
.rest span{
  color: #344e97;
  font-size: 18px;
}
.rest img{
  width: 50px;
  margin: 0 0 15px 0;
}
.rest a{
  color: #344e97;
  font-size: 18px;
  border-bottom: 1px solid #344e97;
}
.rest p{
  font-size: 16px;
  color: #556;
  background: #f1f1f1;
  border-radius: 5px;
  padding: 8px 0;
  font-size: 18px;
}
.rest b{
  color: #6d2e7e;
}
.rest table{
  margin: 10px 0 0 0;
  text-align: left;
}
.rest th{
  padding: 2px 10px !important;
  background: #008c99;
  color: #FFF;
}
.rest td{
  padding: 2px 10px !important;
  color: #444;
}
.msj{
  margin: 20px 0;
  padding: 10px;
  background: #fff;
  border-radius: 10px;
  text-align: center;
}
.msj p{
  color: #555566;
  font-size: 18px;
}
.msj a{
  background: #344e97;
  color: #fff;
  padding: 10px 15px;
}
.msj a:hover{
  background: #008c99;
  color: #fff;
}
.sk-fading-circle .sk-circle:before {
  background-color: #fff;
}
.alertaColor {
  background-color: #344e97;
}
@media (min-width: 1025px) and (max-width: 1199px) {
}
@media (min-width: 768px) and (max-width: 1024px) {
  .txtForm{
    font-size: 16px;
  }
  h1{
    font-size: 1.4rem;
    margin: 15% 0 0 0;
  }
  .txt p{
    font-size: 20px;
  }
  /*.txt img{
    width: 150px;
  }*/
  /* .card img {
    width: 130px;
  } */
  .card img[alt="Reloj"] {
  width: 55px;
  }
  .card img[alt="Lista"] {
    width: 50px;
  }
  h2, h3, h4, h5, h6{
    font-size: 24px;
  }
  .txtVist p{
    font-size: 26px;
  }
}
@media (min-width: 426px) and (max-width: 767px) {
  .card{
    padding: 5px 0;
    margin: 1% 0 3% 0;
  }
  h1{font-size: 1.3rem;}
  .endCont .navbar p, .endCont .navbar a{
    font-size: 15px;
  }
  h2, h3, h4, h5, h6, .addCont span, .txtVist b{
    font-size: 24px;
  }
  .txtVist p, .rest span{
    font-size: 18px;
  }
  .rest th, .rest td{
    padding: 3px !important;
    font-size: 14px;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .navbar a img{
    width: 180px;
  }
  h1{font-size: 1.3rem;}
  .imgFondo{background-image: none;background-color: #344e97;}
  .colorFondo{background-color: #344e97;}
  .btnTel a img{
    width: 25px;
  }
  .card{
    padding: 5px 0;
    margin: 1% 0 3% 0;
  }
  /* .card img {
    width: 130px;
  } */
  .card img[alt="Reloj"] {
  width: 55px;
  }
  .card img[alt="Lista"] {
    width: 50px;
  }
  h2, h3, h4, h5, h6, .addCont span, .txtVist b{
    font-size: 24px;
  }
  .txtVist p, .rest span{
    font-size: 18px;
  }
  .rest p, .rest a{
    font-size: 15px;
  }
  .endCont .navbar p, .endCont .navbar a{
    font-size: 14px;
    text-align: center;
  }
  .endCont .navbar{
    display: block;
  }
  .footer a, .footer p, .footer span{
    font-size: 16px;
  }
  .rest th, .rest td{
    padding: 3px !important;
    font-size: 14px;
  }
  .dinero button{
    font-size: 14px;
  }
  .addCont p {
    font-size: 16px;
}
}
@media (min-width: 321px) and (max-width: 375px) {
  .navbar a img{
    width: 160px;
  }
  .btnTel a img{
    width: 25px;
  }
  h1{font-size: 1.3rem;}
  .imgFondo{background-image: none; background-color: #344e97;}
  .colorFondo{background-color: #344e97;}
  .checkBox label, .checkBox b{
    font-size: 12px;
  }
  .btnTel a{
    font-size: 16px;  
    padding: 1px 2px;
    margin: 0 1px 0 0;
  }
  .txtForm{
    font-size: 14px;
  }
  .card{
    padding: 5px 0;
    margin: 1% 0 3% 0;
  }
  /* .card img {
    width: 120px;
  } */
  .card img[alt="Reloj"] {
  width: 50px;
  }
  .card img[alt="Lista"] {
    width: 45px;
  }
  h2, h3, h4, h5, h6, .addCont span, .txtVist b{
    font-size: 24px;
  }
  .rest p, .rest a{
    font-size: 14px;
  }
  .endCont .navbar p, .endCont .navbar a{
    font-size: 13px;
    text-align: center;
  }
  .endCont .navbar{
    display: block;
  }
  .footer a, .footer p, .footer span{
    font-size: 16px;
  }
  .txtVist p, .rest span{
    font-size: 16px;
  }
  .rest th, .rest td{
    padding: 3px !important;
    font-size: 14px;
  }
  .dinero p{
    font-size: 12px;
  }
  .dinero span{
    font-size: 30px;
  }
  .dinero button{
    font-size: 12px;
  }
  .addCont p {
    font-size: 14px;
}
}
@media (min-width: 280px) and (max-width: 320px) {
  /* .navbar a img{
    width: 160px;
  } */
  .btnTel a img{
    width: 25px;
  }
  h1{font-size: 1.3rem;}

 .logoh img {
  width: 150px;
  margin: 0;
}
  .imgFondo{background-image: none; background-color: #344e97}
  .colorFondo{background-color: #344e97;}
        .dinero p {
          font-size: 12px;
          color: black;
        }
  .btnTel a{
    font-size: 16px;  
    padding: 1px 2px;
    margin: 0 1px 0 0;
  }
  .txtForm{
    font-size: 14px;
  }
  .checkBox label, .checkBox b{
    font-size: 12px;
  }
  .card{
    padding: 5px 0;
    margin: 1% 0 3% 0;
  }
  /* .card img {
    width: 100px;
  } */
  .card p {
    font-size: 9px;
  }
  .card img[alt="Reloj"] {
  width: 40px;
  }
  .card img[alt="Lista"] {
    width: 35px;
  }
  h2, h3, h4, h5, h6, .addCont span, .txtVist b{
    font-size: 20px;
  }
  .rest p, .rest a{
    font-size: 14px;
  }
  .endCont .navbar p, .endCont .navbar a{
    font-size: 12px;
    text-align: center;
  }
  .endCont img {
    width: 150px;
}
  .endCont .navbar{
    display: block;
  }
  .footer a, .footer p, .footer span{
    font-size: 16px;
  }
  .txtVist p, .rest span{
    font-size: 14px;
  }
  .rest th, .rest td{
    padding: 3px !important;
    font-size: 12px;
  }
  .dinero p{
    font-size: 12px;
  }
  .dinero span{
    font-size: 30px;
  }
  .dinero button{
    font-size: 12px;
  }
  .addCont p {
    font-size: 12px;
}
}
/*Vista Desktop*/
.adornoNormal{border:4px dotted #344e97;border-radius:6px;}
.colorNormal{background:#344e97;color:#fff;text-align:center;font-weight:bold;font-size:15px;margin-bottom:0;padding:0.5rem;border-radius:5px;}
.ibanner{max-height: 70px; width: auto;}
.contenedorPromo{background:#fff;padding:5px;border-radius:6px;box-shadow:2px 2px 5px #bababa;max-width:600px;width:100%;height:auto;position: relative;}
.adornosPromo{border:4px dotted #ff0049;border-radius:6px;}
.labelPromo{position:absolute;top: -10px;
  left: -2%;background:#ede22f;color:#fff;border-radius:10px;padding:0px 12px;}
.descuentosPromo{background:#ff0049;color:#fff;text-align:center;font-weight:bold;font-size:1.1rem;margin-bottom:0;padding:0.5rem;border-radius:5px;}
.msiPromo{font-weight:bold;font-size:1.4rem;text-align:center;display:block;line-height:1;}
.labelendPromo{font-weight:500;font-size:0.8rem;text-align:center;display:block;text-transform:uppercase;}

svg.icons {
  width: 18px;
  height: 18px;
}
/*Vista mobile*/
@media (min-width: 240px) and (max-width: 520px) {  
.labelPromo{position:absolute;top: -10px;
  left: -2%;;background:#ede22f;color:#fff;border-radius:10px;padding:0px 12px;}  
.descuentosPromo{background:#ff0049;color:#fff;text-align:center;font-weight:bold;font-size:1rem;margin-bottom:0;padding:0.3rem 0.2rem;border-radius:5px;}
.msiPromo{font-weight:bold;font-size:1rem;text-align:center;display:block;line-height:1;}
.labelendPromo{font-weight:500;font-size:0.8rem;text-align:center;display:block;text-transform:uppercase;}
}