<template>
  <div v-show="!this.showBottonAutoBack == 1">
    <a id="btnTop" class="botonTop" href="#Top">
      <img src="/img/icon/indicador.gif" width="19" height="19" alt="Top">
      <span> Ir Arriba</span>
    </a>
  </div>
</template>
<script>
export default {
  data() {
    return {
      showBottonAutoBack: 1
    };
  },
  mounted: function() {
    window.addEventListener("scroll", () => {
      var scrollPos = window.scrollY;
      var winHeight = window.innerHeight;
      var docHeight = document.documentElement.scrollHeight;
      var perc = (100 * scrollPos) / (docHeight - winHeight);
      if (perc > 20) {
        this.showBottonAutoBack = 0;
      } else {
        this.showBottonAutoBack = 1;
      }
    });
  }
};
</script>
<style>
.botonTop {
  position: fixed;
  bottom: 1rem;
  right: 2rem;
  text-decoration: none;
  padding: 12px 25px;
  border-radius: 25px;
  z-index: 1;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.botonTop img {
  width: 19px;
  transform: rotate(-90deg)
}
.botonTop span {
  color: #ffffff;
  font-size: 16px;
}
</style>