<template>
  <div class="col-xl-6 col-md-6 px-2">
    <div class="card">
      <div class="container-fluid">
        <div class="row">
          <div class="col-4">
            <img src="/img/logotipo-agente.svg" width="150" height="60" :alt="$store.state.config.k1" />
          </div>
          <div class="col-4">
            <img src="/img/icon/reloj.svg" width="70" height="80" name="img" alt="Reloj" />
            <p>Obtén tu póliza hoy mismo</p>
          </div>
          <div class="col-4">
            <img src="/img/icon/msj.svg" width="70" height="80" name="img" alt="Lista" />
            <p>Sin trámites Complicados</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>