<template>
  <div class="container-fluid" v-if="$store.state.config.promoActiva === true">
    <div class="row" id="hot24">
        <div class="alert alert24 text-center alert-dismissible py-0 mb-0 d-flex" role="alert">
            <img src="https://sfo3.digitaloceanspaces.com/prod-mx/promos/ordinary/brand/logo-insurance/promo-migo.webp" width="75" height="75" class="img-fluid ihot24" alt="hotsale" >

            <p class="thot24 mb-0">
              Es el mejor momento asegura tu auto, obtén 
              {{$store.state.config.desc || "cargando..." }} {{$store.state.config.msi}} 
              {{this.$store.state.config.extraMsg}}
            </p>
            <img src="https://sfo3.digitaloceanspaces.com/prod-mx/promos/ordinary/wp/main/bolita01.webp" width="60" height="60" alt="descuentos hotsale" class="img-fluid loghot24 d-none d-lg-inline">

           
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" @click="cerrarModal"></button>
        </div>
    </div>
  </div>
</template>

<script>


export default {
  created: function() {
        this.$store.state.config.promoActiva = false;
  },
  mounted() {
        this.fecha();
  },
  methods:{
    cerrarModal(){
        var x = document.getElementById("hot24");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    },
    fecha: function() {
        var fecha = new Date();
        var dia = fecha.getDate();
        var mes =  fecha.getMonth();
        //var dia = 22
        if (dia >= 15 && dia <= 23 && mes == 4) {
            this.$store.state.config.promoActiva = true;
            console.log(" ALERTA ESPECIAL HOTSALE", dia, mes);
        } else{
          console.log("***Faltan", 30 - dia -15, "días para el HOTSALE***")
        }
    }
  }
}
</script>

<style scoped>
#hot24{
    position: fixed;
    z-index: 99;
    width: 100%;
    bottom: 0;
}
.alert24{
  padding: 0% 13%;
  background: linear-gradient(transparent 23% 0%, #eb0035 23% 100%);
  border: none !important;
  color: white;
}
.ihot24{
  margin-right: 1.5rem;
}
.thot24{
  margin-top: 4%;
}
p{color: #f8f7f7;}
.loghot24{
  margin-bottom: -1.3rem;
  margin-top: 2rem; 
  margin-left: 1.5rem;
}
@media (min-width: 319px) and (max-width:739px ){
  .alert24 {
    padding: 0% 1%;
    background: linear-gradient(transparent 0% 0%, #eb0035 0 100%);
  }
  .ihot24 {
    width: 50px;
    height: 50px;
    margin-top: 10%;
    margin-right: 0rem;
  }
  .thot24 {
    margin-top: 14%;
  }
}
</style>