<template>
  <div>
    <div class="container-fluid">
      <div class="row bg-light justify-content-center py-2">
        <div class="col-8 col-md-5 pt-3">
          <p class="text-start" >
            <b style="font-size:14px;color:#777;">Sitios de grupo: </b>
            <a style="font-size:14px;color:#777;" rel ="noreferrer" target="_blank" href="https://ahorraseguros.mx" >AhorraSeguros, </a>
            <a style="font-size:14px;color:#777;" rel ="noreferrer" target="_blank" href="https://onlineseguros.mx" >OnlineSeguros.</a>
        </p>
        </div>
        <div class="col-4 col-md-5 pt-3" style="color:#777">
          <p class="text-end">
           <a href="https://segurosmotos.com.mx/blog/" rel =" noreferrer " class="mot" target="_blank">Blog </a>
          </p>
        </div>
        
        
      </div>
      <div class="row footer">
        <div class="col-12">
          <p>
            <a href="/">segurosmotos.com.mx</a>&nbsp;
            <b>|</b>&nbsp;
            <span>Operado por Agente de Seguros Autorizado</span>
          </p>
        </div>
      </div>
    </div>

  </div>
</template>