<template>
  <div class="container-fluid">
    <div class="row mt-1">
      <div class="col-12 col-xl-10 offset-xl-1 p-0">
        <div class="navbar m-0 p-0">
          <!-- LOGO -->
          <a href="/" rel="noopener" class="logoh">
            <img src="/img/asg/logo/logo.svg" alt="Logo" width="200" height="54" class="ms-lg-5 ms-md-0"/>
          </a>
          <!-- BTN TEL -->
          <div class="btnTel mx-auto mx-md-0 mb-1 ">
            <a id="idTelDID" :href="'tel:55'+$store.state.config.telefonoAS" class="btn">
              <p>LLAMA GRATIS</p>
              <img src="/img/icon/tel.svg" width="25" height="25" alt="Tel" />
              <b> (55) {{$store.state.config.telefonoAS}}</b>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>