<template>
  <div>
    <div class="container-fluid">
      <div class="row">
          <!-- <div class="col-12 "> -->
          <div class="col-12 imgFondo">
          <div class="row">
            <div class="col-12 col-md-10 m-auto py-3 text-center mt-lg-5 bg-white rounded" >
              <p class=" fw-bold fz-24 mb-0" id="idGraciasMotos">¡Hola! {{$store.state.formData.nombre}},</p>
              <p class=" fz-24">Encontramos el mejor precio del seguro de tu moto</p> 
              <p class="text-center dauto col-8 mx-auto rounded">{{this.$store.state.formData.marca}} {{ this.$store.state.formData.modelo}} {{this.$store.state.formData.descripcion}}  {{$store.state.formData.detalle}} </p>
            </div>
            <div class="col-12" v-if="!$store.state.cargandocotizacion && !$store.state.msjEje && !$store.state.msj">
              <loader />
            </div>
            <div class="col-xl-12 col-12 p-xl-0 mt-5" v-if="
                      $store.state.cargandocotizacion &&
                      this.$store.state.formData.precio > 0 &&
                      this.$store.state.formData.precio != null &&
                      this.$store.state.formData.precio != '' ">
               <!-- <tabla class="container"></tabla> -->
              <precios-component />
            </div>
            <div class="col-xl-10 offset-xl-1 col-12 p-xl-0 mt-5" v-if="$store.state.msjEje || $store.state.msj">
              <msjSinRes />
            </div>
          </div>
        </div>
      </div>
      <logica></logica>
    </div>
  </div>
</template>

<script>
import tabla from "~/components/utilities/tabla.vue";
import logica from "~/components/common/logicaNew.vue"
import preciosComponent from "~/components/utilities/precios.vue";
import msjSinRes from "~/components/utilities/msjSinRes.vue";
import loader from "~/components/utilities/preLoader.vue";
export default {

  created: function () {
    this.$store.state.formData.aseguradora = "GNP";
    if (this.$store.state.formData.nombre != "") {
      // this.$store.commit('validateData');
      this.$store.state.config.loading = true;
    } else {
      this.$router.replace({ path: "/error/" });
    }
    this.$store.state.config.loading = false;
    this.$store.state.config.interior1 = 'email';
  },
  components: {
    tabla,
    preciosComponent,
    msjSinRes,
    loader,
    logica
  },
  head() {
    return {
      title: "Aseguradoras de Motos - Compara 20 Aseguradoras tu Seguro de Moto",
      meta: [
        {
          hid: "keywords",
          name: "keywords",
          content:
            "Aseguradoras de Motos, Aseguradoras de Motos en México, Cotiza con Aseguradoras de Motos, Principales Aseguradoras de Motos, Mejores Aseguradoras de Motos."
        },
        {
          hid: "description",
          name: "description",
          content:
            " Compara tu Seguro para Motos con más de 20 Aseguradoras de Motos en México. ¡Tenemos los mejores precios y coberturas en Seguros de Motos!. "
        },
        { hid: "robots", name: "robots", content: "index, follow" },
        {
          hid: "author",
          name: "author",
          content: "twitter: @vargasdesignMx | @DanCuevas"
        },
        {
          hid: "sitemap",
          rel: "sitemap",
          type: "application/xml",
          title: "sitemap",
          href: "sitemap.xml"
        },
        {
          hid: "canonical",
          rel: "canonical",
          href: "https://segurosmotos.com.mx/aseguradoras-de-motos/email/thank-you/"
        }
      ]
    };
  },
};
</script>
<style>
.loader-text{
  color: #ffffff!important;
}
</style>