<template>
  <div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 imgFondo">
          <!-- <div class="colorFondo"></div> -->
          <div class="row">
             <!-- TEXT PRINCIPAL -->
            <div class="col-lg-5 mx-auto col-md-6 col-12 text-center text-md-start">
              <h1>{{$store.state.config.titulo}}</h1>
               <cardpromo></cardpromo>
            </div>
            <!-- FORM -->
            <div class="col-lg-5 m-auto col-md-6 col-sm-12">
              <formulario :config="this.$store.state.config" />
            </div>
            <!-- CARD -->
            <card />
          </div>
        </div>
      </div>
    </div>
    
  </div>
</template>
<script>
import formulario from "~/components/forms/newMotosForm.vue";
import Contenido from "~/components/utilities/addCont.vue";
import card from "~/components/common/card.vue";
import cardpromo from "~/components/alerta/alerta.vue";
export default {
    layout: 'index',
  components: {
    formulario,
    Contenido,
    card,
    cardpromo
  },
  beforeCreate() {
    //POR ASEGURADORA
      
        this.$store.commit("telApi");
    this.$store.state.config.aseguradora = "AZTECA";    
    this.$store.state.config.cotizacion = false;
    this.$store.state.config.emision = false;
    this.$store.state.config.descuento = 0;
    this.$store.state.config.telefonoAS = "47495112";
    // this.$store.state.config.grupoCallback = "VN Motos";
    this.$store.state.config.from = "DOMINIO-MOTOS";
    this.$store.state.config.idPagina = 2;
    this.$store.state.config.idMedioDifusion = 5903;
    this.$store.state.config.idSubRamo = 212;
    this.$store.state.config.dominioCorreo = "MOTOS|AZTECA|segurosmotos-com-mx-seguros-para-motos-azteca";
    this.$store.state.config.idCampana = 21;
    this.$store.state.config.titulo =
      "Cotiza tu Seguro para Motos AZTECA rapidísimo"; // INDEX
    this.$store.state.config.parrafo = ""; //CONTENIDO AGREGADO A LA PROMO EN H1
    this.$store.state.config.adic = "";
    this.$store.state.config.img = "moto.svg";
    this.$store.state.config.alert = true;
    this.$store.state.config.asgNombre = "Seguros Motos";
    this.$store.state.config.promo = "Obtén";

    this.$store.state.config.interior = "azteca";

 
    this.$store.state.config.urlGracias = '/seguros-para-motos-azteca/thank-you';

    this.$store.state.config.clase2="col-4 col-md-4 col-lg-4"
    this.$store.state.config.clase3="col-4  col-md-8 col-lg-8 my-auto"
    this.$store.state.config.clase1="adornoNormal"
    this.$store.state.config.colorPromo="colorNormal"
    this.$store.state.config.subproduct="motos"


  },
  head() {
    return {
      title: "🏅 Seguro para Motos - Cotizador de Seguros de Motos en México",
      meta: [
        {
          hid: "keywords",
          name: "keywords",
          content: "Seguro para Motos, Seguro para Moto, Seguros para Motos, Seguro de Motos, Cotizador de Seguros para Motos, Pólizas para Motocicletas, Seguros para Motocicletas, Seguro para Motocicleta, Seguro de Moto, Seguros de Motocicleta, Póliza de Seguro de Moto, Cotizar Seguro para Motos"

        },
        {
          hid: "description",
          name: "description",
          content: "Un Seguro para Motos es la mejor opción para mantenerte protegido en todo momento. ✅ ¡Cotiza Seguros de Motos en segundos! "
        },
        { hid: "robots", name: "robots", content: "index, follow" },
        {
          hid: "author",
          name: "author",
          content: "Abigail-Flores"
        },
        {
          hid: "sitemap",
          rel: "sitemap",
          type: "application/xml",
          title: "sitemap",
          href: "sitemap.xml"
        },
        {
          hid: "canonical",
          rel: "canonical",
          href: "https://segurosmotos.com.mx/seguros-para-motos-azteca/"
        }
      ]
    };
  }
};
</script>
