<template>
  <div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 imgFondo">
          <!-- <div class="colorFondo"></div> -->
          <div class="row">
             <!-- TEXT PRINCIPAL -->
            <div class="col-lg-5 mx-auto col-md-6 col-12 text-center text-md-start">
              <h1>{{$store.state.config.titulo}}</h1>
               <cardpromo></cardpromo>
            </div>
            <!-- FORM -->
            <div class="col-lg-5 m-auto col-md-6 col-sm-12">
              <formulario :config="this.$store.state.config" />
            </div>
            <!-- CARD -->
            <card />
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 cont p-0 mt-md-5">
          
          <!-- -->
          <section>
            <div class="col-xl-10 offset-xl-1 px-1 px-xl-0">
              <h2>Coberturas de los seguros para motos GNP</h2>
              <p>La aseguradora GNP trabaja para brindar opciones de protección a la población mexicana, por eso uno de sus servicios está enfocado en las motocicletas. Se trata de coberturas que se adaptan a tus necesidades pues los planes se fijaron a partir de las diferentes características que tienen las motos.</p>
              <p>Los paquetes que esta compañía pone a tu disposición son:</p>
              <p>Lo importante de los seguros para motos GNP es que están pensados para que cualquier tipo de motociclista pueda contratar la cobertura que más le convenga, sin que esto comprometa su presupuesto, por el contrario, obtenga un sólido y confiable respaldo financiero.</p>
              <ul>
                <li>
                  <img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check" />&nbsp;
                  <b>Daños Materiales</b>: con este plan te amparas por los daños que pueda sufrir tu moto en caso de que sufras un accidente donde se involucre otro automóvil y otro tipo de percances como volcaduras y desastres naturales (incendios, granizo, terremotos y erupciones volcánicas).
                </li>
                <li>
                  <img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check" />&nbsp;
                  <b>Robo</b>: en caso de que tu moto sufra robo total, GNP te indemniza por el valor comercial de tu unidad, solamente con la aplicación de un deducible. El plan aplica para los casos en que tu moto sea robada mientras la conduces o cuando se encuentre estacionada. Además, si la unidad es recuperada pero con daños, GNP paga esos gastos.
                </li>
                <li>
                  <img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check" />&nbsp;
                  <b>Daños a terceros</b>: los seguros para motos GNP te protegen en caso de que causes daños a terceros en sus bienes o les provoques lesiones físicas, que puedan derivar en la muerte.
                </li>
                <li>
                  <img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check" />&nbsp;
                  <b>Gastos médicos</b>: con esta cobertura quedas amparado si derivado de un accidente, necesitas los servicios de una ambulancia u hospitalización. Para este plan se fija una suma asegurada y además, no tiene deducible.
                </li>
              </ul>
              <p>Estas son las protecciones básicas que GNP te ofrece para que viajes protegido y en caso de que sufras un percance, no veas afectadas tus finanzas por tener que asumir los costos de lo que un accidente representa.</p>
              <p>Además, la aseguradora te da la opción de ampliar los beneficios, para que tengas un respaldo todavía más sólido, pues nadie está exento de sufrir un accidente y es mejor si te mantienes prevenido.</p>
              <p>Puedes aumentar tu protección con las coberturas adicionales que GNP ofrece, a fin de que se pueda salvaguardar tu integridad y tu patrimonio.</p>
              <ul>
                <li>
                  <img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check" />&nbsp;
                  <b>Adaptaciones, Conversiones o Equipo especial</b>: esta cobertura está pensada para las mejoras que se le hacen a las motos, pues se trata de inversiones que deseas cuidar, por lo que GNP te ampara en casos de daños por colisión y fenómenos naturales como incendios e inundaciones.
                </li>
                <li>
                  <img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check" />&nbsp;
                  <b>Responsabilidad Civil Fallecimiento</b>: con este plan estarás amparado en caso de que causes en deceso de terceras personas a tus acompañantes, si te ves involucrado en un accidente. Cuenta con una indemnización por daños morales y gastos legales derivados de procedimientos penales.
                </li>
              </ul>
            </div>
          </section>
          <!-- -->
          <section>
            <div class="col-xl-10 offset-xl-1 p-0">
              <h2>Cotiza fácil y rápido tus seguros para motos GNP</h2>
              <p>La protección que necesitas para viajar seguro la puedes obtener con los seguros para motos GNP, con los que cuidas tu patrimonio y tu integridad física cada vez que sales a manejar en carretera.</p>
              <p>GNP reconoce que tu patrimonio en importante, sobre todo considerando que las motos pueden ser tu medio de transporte por motivos de esparcimiento, pero también es probable que la utilices como un elemento indispensable para tu trabajo.</p>
              <p>A la aseguradora GNP le interesa cuidar tus bienes materiales y tu integridad física, por eso te ofrece un seguro para tu moto, con la finalidad de que estés respaldado legal, física y económicamente.</p>
            </div>
          </section>
          <!-- -->
          <section>
            <div class="col-xl-10 offset-xl-1 p-0">
              <h3>Beneficios de los seguros para motocicletas GNP</h3>
              <p>Al contratar los seguros para motos GNP se pueden obtener diversos beneficios, no importando el tamaño de tu unidad ni las características que tenga, pues esta aseguradora busca que cada vez sean más las personas que conducen protegidas.</p>
              <p>Una de las principales ventajas de estos seguros es que se adaptan a diferentes necesidades, pues GNP ofrece varias coberturas, por lo que también es posible encontrar precios que se ajustan a cualquier presupuesto.</p>
              <p>Actualmente los planes de esta aseguradora están disponibles para 50 marcas de motocicletas, por lo que no importa cuál manejes tú, es muy probable que con ellos puedas encontrar el paquete que más te convenga.</p>
              <p>Un beneficio de estos seguros es que la indemnización se hace a valor comercial, es decir, al valor que tenga tu moto en el mercado en el momento en que suceda el percance, accidente o robo.</p>
              <p>Otra ventaja es que estos seguros están disponibles para modelos del 2005 en adelante, así que si recientemente adquiriste tu unidad, no tendrás ningún problema para contratar una buena protección.</p>
              <p>Al asegurar tu moto con GNP también obtienes tu Seguro Obligatorio de Responsabilidad Civil por daños a terceros sin costo adicional, un requisito que las autoridades solicitan desde que inició el 2019 a todos los motociclistas para poder circular.</p>
              <p>Considera que todos los motociclistas, por ley, tienen que contar con el seguro de Responsabilidad Civil, para el que se pida una suma asegurada de 50,000 pesos como mínimo para cubrir daños materiales y de 100,000 pesos para lesiones que se causen en terceras personas.</p>
              <p>En el caso de que tu moto haya sufrido un robo o esté extraviada, esta aseguradora ofrece el beneficio de reponer las llaves y puedas seguirla utilizando cuando sea recuperada.</p>
              <p>Además, si a tu motocicleta le hiciste modificaciones a fin de que luciera y funcionara mejor, GNP también te brinda protección en estos casos, para que no te tengas que preocuparte y puedas manejar con tranquilidad.</p>
            </div>
          </section>
          <!-- -->
          <section>
            <div class="col-xl-10 offset-xl-1 p-0">
              <h3>Requisitos para contratar un seguro para moto en GNP</h3>
              <p>Considerando que manejar con una protección ya es obligatorio, los seguros para motos GNP se pueden contratar de manera sencilla, por lo que es necesario tener licencia vigente para que el trámite pueda llevarse a cabo.</p>
              <p>La contratación de estos seguros está disponible para unidades nacionales, pero también para las que se importaron por parte de la armadora, así que este detalle no será impedimento para que contrates tu póliza.</p>
              <p>Entre los datos personas que te van a solicitar para hacer la contratación están tu Registro Federal de Contribuyentes (RFC), fecha de nacimiento, edad y género. Además, GNP pide que todos los contratantes sean personas físicas.</p>
              <p>Las características de tu unidad también son necesarias para contratar los seguros para motos GNP, entre ellas están el año, el modelo, la marca, versión y el número de serie o de motor.</p>
              <p>Es importante que consideres que esta aseguradora aplica algunas restricciones para llevar a cabo la contratación de estos seguros, ya que no aplican para personas morales por cuestiones de seguridad y protocolo de la empresa.</p>
              <p>Otra restricción para la contratación de estos seguros es que no se autorizan cuando las motos son para uso comercial o forman parte de flotillas de trabajo. Pero si tú empleas la motocicleta para otros fines, puedes contratar sin ningún inconveniente.</p>
            </div>
          </section>
          <!-- -->
          <section>
            <div class="col-xl-10 offset-xl-1 p-0">
              <h3>Exclusiones de los seguros para motos GNP</h3>
              <p>Como hemos podido notar, los seguros para motos GNP tienen diversos beneficios para los asegurados, tanto en el vehículo como en las finanzas de las personas que los contratan.</p>
              <p>Sin embargo, es bueno que consideres que la aseguradora también establece algunas exclusiones para hacer válido el seguro en caso de que te veas involucrado en un percance de tránsito.</p>
              <p>Considera que GNP no te ampara cuando los siniestros generen daños materiales por un monto menor al que se estableció en el deducible, mismo que queda estipulado en la carátula de todas las pólizas.</p>
              <p>Los beneficios tampoco se aplican cuando los accidentes se provoquen a partir del abuso de confianza, cometidos por las personas que aparecen como aseguradas en la carátula de la póliza o por las personas que tengan algún parentesco con el asegurado.</p>
              <p>El amparo de un seguro para moto no tendrá efectos cuando los daños materiales que se ocasionen en la unidad sean por riñas en las que participe el conductor o los ocupantes de la motocicleta.</p>
              <p>Otra exclusión para estas coberturas es que haya daños en la pintura ocasionados por riesgos distintos a los que se establecen en las pólizas, por lo que es importante conocer muy bien cuáles son las exclusiones para evitar problemas.</p>
              <p>Descomposturas mecánicas, eléctricas y electrónicas, así como desbielamiento del motor por falta de mantenimiento, desgaste natural o fuga de aceite, son otras exclusiones que tienen los seguros para motos GNP.</p>
            </div>
          </section>
          <!-- -->
          <section>
            <div class="col-xl-10 offset-xl-1 p-0">
              <h4>Recomendaciones generales al contratar un seguro para moto GNP</h4>
              <p>Al contratar un seguro para tu motocicleta debes de tener en cuenta algunas recomendaciones generales, que te servirán para evitar malos entendidos y el incumplimiento del contrato por parte de la aseguradora.</p>
              <p>Lo principal que GNP te recomienda es que leas las Condiciones Generales de tu Póliza para que estés al tanto de la vigencia que tendrá el seguro, los riesgos cubiertos y los deducibles que tengas contratados.</p>
              <p>Es necesario que verifiques que tus datos son correctos, para que no tengas problemas en caso de que sufras un accidente. Si llegara a estar mal tu información, debes de contactar a GNP para que hagan las correcciones pertinentes.</p>
              <p>Después de que contrates los seguros para motos GNP, es indispensable que tengas tu número de póliza y licencia de conducir a la mano, pues en casos de siniestros son lo primero que vas a necesitar.</p>
            </div>
          </section>
          <!-- -->
          <section>
            <div class="col-xl-10 offset-xl-1 p-0">
              <h4>Conoce más sobre la aseguradora GNP</h4>
              <p>Contratar los seguros para motos GNP no sólo depende de las coberturas y beneficios que esta compañía te ofrece, también de la trayectoria y confiabilidad con la que cuenta la aseguradora a la que dejarás la responsabilidad de respaldarte.</p>
              <p>GNP Seguros es una compañía mexicana que cuenta con una gran experiencia en el mercado, pues desde hace más de 115 años se ha dedicado a brindar protección financiera a las personas que desean conservar en buenas condiciones su patrimonio.</p>
              <p>El objetivo de esta compañía es satisfacer las necesidades de previsión financiera y protección de la sociedad mexicana, por medio de sus seguros que no sólo abarcan el sector de autos, también motos, hogar, gastos médicos, vida, retiro y ahorro.</p>
              <p>La experiencia de GNP en el sector asegurador ha crecido gracias a que ofrecen planes de protección para personas y empresas, con la finalidad de fortalecer la cultura del seguro en nuestro país.</p>
              <p>Además, GNP cuenta con el respaldo de Grupo Bal, uno de los conglomerados empresariales más grandes de México, en el que también se encuentran compañías como Grupo Peñoles, Profuturo, Médica Móvil, Casa de Bolsa, Arrendadora Valmex y El Palacio de Hierro, entre otras.</p>
              <p>Entre las características que han prevalecido en esta aseguradora se encuentra el crecimiento rentable, ya que su amplia experiencia asegurando bienes y vidas, les ha otorgado la confianza de muchos mexicanos.</p>
              <p>La experiencia de GNP puede ser un factor que consideres relevante para acercarte a esta compañía y contratar alguno de sus seguros, ya sea el de motos, autos o los que están enfocados a la salud.</p>
            </div>
          </section>
          <!-- -->
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import formulario from "~/components/forms/newMotosForm.vue";
import Contenido from "~/components/utilities/addCont.vue";
import card from "~/components/common/card.vue";
import cardpromo from "~/components/alerta/alerta.vue";
import getInsurerPromo from "~/plugins/promoData.js";

export default {
    layout: 'index',
  components: {
    formulario,
    Contenido,
    card,
    cardpromo
  },
  beforeCreate() {
    //POR ASEGURADORA
      
        this.$store.commit("telApi");
    this.$store.state.config.aseguradora = "GNP";    
    this.$store.state.config.cotizacion = true;
    this.$store.state.config.emision = true;
    this.$store.state.config.descuento = 0;
    this.$store.state.config.telefonoAS = "47495112";
    // this.$store.state.config.grupoCallback = "VN Motos";
    this.$store.state.config.from = "DOMINIO-MOTOS";
    this.$store.state.config.idPagina = 2;
    this.$store.state.config.idMedioDifusion = 1305;
    this.$store.state.config.idMedioDifusionEcommerce = 6251;
    this.$store.state.config.idMedioDifusionInteraccion = 6252;
    this.$store.state.config.idSubRamo = 58;
    this.$store.state.config.dominioCorreo = "MOTOS|GNP|segurosmotos-com-mx-seguros-para-motos-gnp";
    this.$store.state.config.idCampana = 21;
    this.$store.state.config.titulo =
      "Cotiza tu Seguro para Motos GNP rapidísimo"; // INDEX
    this.$store.state.config.parrafo = ""; //CONTENIDO AGREGADO A LA PROMO EN H1
    this.$store.state.config.adic = "";
    this.$store.state.config.img = "moto.svg";
    this.$store.state.config.alert = true;
    this.$store.state.config.asgNombre = "Seguros Motos";
    this.$store.state.config.promo = "Obtén";

    this.$store.state.config.k1 = "Seguros para Motos GNP";
    this.$store.state.config.k2 = "Seguros de Motos GNP";
    this.$store.state.config.k3 = "Cotiza Seguros de Autos GNP";
    this.$store.state.config.k4 = "GNP Seguro de Moto";
    this.$store.state.config.urlGracias = '/seguros-para-motos-gnp/thank-you';

    this.$store.state.config.clase2="col-4 col-md-4 col-lg-4"
    this.$store.state.config.clase3="col-4  col-md-8 col-lg-8 my-auto"
    this.$store.state.config.clase1="adornoNormal"
    this.$store.state.config.colorPromo="colorNormal"
    this.$store.state.config.subproduct="motos"

    this.$store.state.config.interior = "gnp";



  },
  head() {
    return {
      title: "Seguros para Motos GNP - Cotiza Fácil GNP Seguros de Motos",
      meta: [
        {
          hid: "keywords",
          name: "keywords",
          content:
            "Seguros para Motos GNP, Seguros de Motos GNP, Cotiza Seguros de Autos GNP, GNP Seguro de Moto"
        },
        {
          hid: "description",
          name: "description",
          content:
            "Cotiza Seguros para Motos GNP en México al mejor precio, fácil y rápido. Encuentra coberturas y beneficios exclusivos en GNP Seguros de Motos."
        },
        { hid: "robots", name: "robots", content: "index, follow" },
        {
          hid: "author",
          name: "author",
          content: "twitter: @vargasdesignMx | @DanCuevas"
        },
        {
          hid: "sitemap",
          rel: "sitemap",
          type: "application/xml",
          title: "sitemap",
          href: "sitemap.xml"
        },
        {
          hid: "canonical",
          rel: "canonical",
          href: "https://segurosmotos.com.mx/seguros-para-motos-gnp/"
        }
      ]
    };
  }
};
</script>
