<template>
  <div id="botonTop">
    <!-- <A /> -->
    <Header />
    <Btn />
    <nuxt />
    <Footer />
  </div>
</template>
<script>
// import A from "~/components/alerta/alerta.vue";
import Header from "~/components/common/HeaderMoto.vue";
import Btn from "~/components/common/btnTop.vue";
import Footer from "~/components/common/Footer.vue";
export default {
  components: {
    // A,
    Header,
    Btn,
    Footer
  }
};
</script>
