<template>
  <div id="botonTop">
    <Header />
    <!-- <Btn /> -->
    <div class="segurosmotos.com.mx -- VERSION 1"></div>
    <nuxt />
    <Footer />
  </div>
</template>
<script>
import Header from "~/components/common/Header.vue";
import Btn from "~/components/common/btnTop.vue";
import Footer from "~/components/common/Footer.vue";
export default {
  components: {
    Header,
    Btn,
    Footer
  }
};
</script>
