<template> 
     <div class="container-fluid">
      
        <div class="row paddingT2">
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 paddingT d-block m-auto">
                <h4 class="contentError">Algo salió mal, favor de intentarlo nuevamente. </h4>
                <a class="errorlink btn btn-outline-primary mb-4 btn-lg" :href="'/'+this.$store.state.config.interior1">Regresar al inicio</a>
            </div>
            
        </div>
        <div class="row">
            <div class="separadorito"></div>
        </div>
     </div>
</template> 
<script>
export default {
  head() {
    return {
      meta: [
        {
          hid: "canonical",
          rel: "canonical",
          href: "https://segurosmotos.com.mx/error"
        }
      ]
    };
  }
};
</script>
<style scoped>
body {
  background-color: #e8e8e8;
}
.paddingT {
  padding-top: 5rem;
}
.paddingT2 {
  padding-top: 2rem;
}
h1.titleError {
  font-size: 4rem;
  color: #007cf6;
}
h4 {
  color: #585858;
  font-weight: 100;
  font-size: 2rem;
}
a.errorlink {
  text-decoration: none;
  font-weight: 600;
}
.msda {
  width: 100%;
  height: auto;
}
.separadorito {
  width: 100%;
  height: 4rem;
}
</style>