<template>
  <div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 imgFondo">
          <!-- <div class="colorFondo"></div> -->
          <div class="row">
            <!-- TEXT PRINCIPAL -->
            <div class="col-lg-5 mx-auto col-md-6 col-12 text-center text-md-start">
              <h1 class="text-center">{{ $store.state.config.titulo }}</h1>
              <cardpromo></cardpromo>
            </div>
            <!-- FORM -->
            <div class="col-lg-5 m-auto col-md-6 col-sm-12">
              <formulario :config="this.$store.state.config"/>
            </div>
            <!-- CARD -->
            <card/>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-md-10 offset-md-1 cont">
          <Contenido/>
          <!--<div class="container-fluid">
            <div class="row">
              <div class="col-xl-10 offset-xl-1">
                <Contenido />
              </div>
            </div>-->
        </div>
        <!-- -->
        
        <section>
          <div class="col-xl-10 offset-xl-1 px-1 px-xl-0">
            <h2>¡Conoce la protección que te ofrece un Seguro para Motos!</h2>
            <p>México es uno de los países a nivel mundial que más utilizan las motocicletas como medio de transporte,
              es por ello que hay que destacar la importancia de contar con planes de protección que puedan respaldarte
              tanto a ti como a tu vehículo, por eso es que las compañías aseguradoras comenzaron a ofrecer Seguro para
              Motos.</p>
            <p>Trasladarse con una motocicleta puede traer varios riesgos consigo, ya que aumenta la probabilidad de
              sufrir algún accidente, más aún en ciudades tan caóticas como las que hay en la República Mexicana, por
              eso hacemos hincapié en la necesidad de contar con un Seguro para Moto, el cual te respaldará con diversos
              servicios de asistencia y protección.</p>
            <p>Hay estadísticas que lanzan como resultado que el 60 por ciento de las víctimas mortales en accidentes de
              tránsito son motociclistas, ciclistas y peatones, lo que nos hace pensar en la enorme importancia que debe
              tener contar con planes de protección.</p>
            <p>Al involucrarte en un accidente vial, éste puede costarte hasta 3 millones de pesos en caso de víctimas
              mortales, afectando fuertemente a tu economía, y más aún si no cuentas con ahorros o con el respaldo de
              una compañía aseguradora, es por eso que estar prevenido en todo momento, puede favorecerte en diversos
              aspectos.</p>
            <p>A continuación te contaremos más información acerca de los Seguros para Motos, de esta forma podrás
              convencerte de que es la mejor opción para ti.</p>
            <h2>¿Cuáles son las coberturas en el Seguro para Motos?</h2>
            <p>En México es completamente necesario contratar un Seguro de Motos, ya que es obligatorio para poder
              circular por las vías, autopistas y caminos federales de la Capufe, por ende, debes saber cuál es el mejor
              Seguro para Motos para estar más protegido de cualquier daño y que al mismo tiempo puedas evitar una multa
              que va hasta los 4 mil 100 pesos mexicanos o más, según el estado en el que vivas.</p>
            <p>Las coberturas ofrecidas por las aseguradoras en cuanto al Seguro para Moto son:</p>
            <!-- Tabla -->
            <div class="table-responsive">
              <table class="table table-striped text-center">
                <thead>
                <tr>
                  <th scope="col">Plan</th>
                  <th scope="col">Amplia</th>
                  <th scope="col">Limitada</th>
                  <th scope="col">Básica</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>Daños Materiales</td>
                  <td><img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check"/>&nbsp;</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>Robo Total</td>
                  <td><img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check"/>&nbsp;</td>
                  <td><img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check"/>&nbsp;</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Responsabilidad Civil por daños a terceros</td>
                  <td><img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check"/>&nbsp;</td>
                  <td><img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check"/>&nbsp;</td>
                  <td><img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check"/>&nbsp;</td>
                </tr>
                <tr>
                  <td>Responsabilidad Civil Pasajero</td>
                  <td><img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check"/>&nbsp;</td>
                  <td><img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check"/>&nbsp;</td>
                  <td><img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check"/>&nbsp;</td>
                </tr>
                <tr>
                  <td>Responsabilidad Civil por daños ocasionados por la carga</td>
                  <td><img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check"/>&nbsp;</td>
                  <td><img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check"/>&nbsp;</td>
                  <td><img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check"/>&nbsp;</td>
                </tr>
                <tr>
                  <td>Gastos Legales</td>
                  <td><img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check"/>&nbsp;</td>
                  <td><img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check"/>&nbsp;</td>
                  <td><img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check"/>&nbsp;</td>
                </tr>
                <tr>
                  <td>Asistencia Vial</td>
                  <td>Opcional</td>
                  <td>Opcional</td>
                  <td>Opcional</td>
                </tr>
                <tr>
                  <td>Gastos Médicos Ocupantes</td>
                  <td>Opcional</td>
                  <td>Opcional</td>
                  <td>Opcional</td>
                </tr>
                <tr>
                  <td>Muerte del conductor por accidente automovilístico</td>
                  <td>Opcional</td>
                  <td>Opcional</td>
                  <td>Opcional</td>
                </tr>
                <tr>
                  <td>Equipo Especial</td>
                  <td>Opcional</td>
                  <td>Opcional</td>
                  <td>Opcional</td>
                </tr>
                </tbody>
              </table>
            </div>
            <p>Desde nuestro Cotizador de Seguros para Motos podrás encontrar el plan que buscas, siempre adaptándose a
              tus necesidades y presupuesto.</p>
            <h2>¿Cuánto cuesta un Seguro para Motos?</h2>
            <p>Los precios de los Seguros para Motos son más elevados que los de otro tipo de vehículo, esto se debe a
              que las aseguradoras cubren riesgos mayores.</p>
            <p>Además, los costos de las Pólizas para Motocicletas dependen de otros factores como la edad, el género,
              domicilio, marca de la motocicleta, valor factura, tipo de moto, cilindraje, entre otros.</p>
            <p>Hay motocicletas que presentan mayores índices de robo, es por eso que las aseguradoras toman en cuenta
              este tipo de datos para calcular el costo de tu seguro, por ello resulta de vital importancia que siempre
              proporciones datos reales, pues en caso contrario, la compañía de seguros puede negar sus servicios o
              cancelar la póliza que ya hayas contratado.</p>
            <h3>Beneficios de contar con Seguros para Motocicletas</h3>
            <p>Tener un Seguro para Motocicleta puede traerte múltiples beneficios, esto hará que te des cuenta de la
              excelente inversión que puedes hacer al contratar este servicio.</p>
            <ul>
              <li><img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check"/>&nbsp;Responsabilidad Civil:
                Respalda cualquier daño que puedas provocar en bienes a terceros, si te impactas contra un automóvil y
                resultas culpable, tu Seguro de Moto te respalda.
              </li>
              <li><img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check"/>&nbsp;Gastos Médicos: Se te
                respaldará por cualquier gasto médico que llegaras a necesitar, ya sea por hospitalización, terapias,
                enfermeros, entre otros.</li>
              <li><img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check"/>&nbsp;Indemnizaciones: Por el
                robo de tu motocicleta o bien que ésta resulte pérdida total a causa de un accidente, se acordará una
                indemnización que dependiendo de la cobertura contratada, esta podrá ascender hasta el valor comercial
                de la motocicleta, y además se podrán eliminar todos aquellos deducibles, así como las devoluciones de
                primas.
              </li>
              <li><img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check"/>&nbsp;Asistencia Vial: En caso
                de falla mecánica, podrás pedir auxilio técnico, una grúa, envío de gasolina, entre otros.
              </li>
              <li><img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check"/>&nbsp;Asistencia legal: Si a
                causa de algún accidente existen consecuencias legales que se deban tratar en el Ministerio Público, la
                aseguradora te ofrece apoyo y asesoramiento por parte de un abogado; algunas compañías también te ayudan
                a sacar tu moto del corralón, pero depende de cada empresa.
              </li>
            </ul>
            <h3>Coberturas adicionales de tu Seguro de Moto, para una protección más completa</h3>
            <p>Además de las coberturas de las que ya te hablamos, las compañías de seguros ofrecen coberturas
              adicionales para tu motocicleta en caso de que desees una protección más completa; cabe destacar que éstas
              tienen un costo extra que puede valer la pena si eres un conductor frecuente.</p>
            <ul>
              <li><img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check"/>&nbsp;Exceso de Responsabilidad
                Civil: Es una cantidad adicional a la suma asegurada que se estableció en la cobertura de
                Responsabilidad Civil.
              </li>
              <li><img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check"/>&nbsp;Muerte accidental del
                conductor: A pesar de que se contrate la cobertura más completa, la muerte del conductor no suele estar
                amparada, por lo que los conductores de las motocicletas deben adquirir esta cobertura que resulta muy
                necesaria; consiste en una indemnización que se da a los beneficiarios del asegurado.
              </li>
              <li><img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check"/>&nbsp;Seguro de llantas:
                Consiste en reponer tus llantas en agencias que tengan convenio con tu aseguradora; si las llantas de tu
                motocicleta resultaron dañadas durante un accidente vial, podrán ser sustituidas por otras similares.
              </li>
              <li><img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check"/>&nbsp;Cirugía Estética por
                accidente de auto: El conductor la podrá solicitar si durante un accidente en la moto resulta afectada o
                deformada permanentemente alguna parte de su cuerpo; esta cobertura funciona a través del deducible, ya
                que el asegurado tendrá un reembolso de todos los gastos que conlleven la cirugía.
              </li>
              <li><img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check"/>&nbsp;Robo Parcial:
                Indemnización de la parte sustraída con base en la depreciación de la pieza al momento del siniestro.
              </li>
              <li><img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check"/>&nbsp;Equipo Especial: Para
                hacer válida esta cobertura es necesario que el asegurado informe a la aseguradora sobre accesorios y
                modificaciones de la motocicleta; la misma ampara con indemnización por pieza dañada al momento del
                accidente y en caso de robo.
              </li>
              <li><img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check"/>&nbsp;Casco y vestimenta para
                motocicleta: Se sabe que los conductores de estos vehículos deben contar con equipo al momento de
                conducir, el casco y la vestimenta pueden ser de costos elevados si se buscan las mejores marcas, y
                aumenta su precio si éstos se personalizan, es por eso que las aseguradoras amparan con indemnización en
                caso de pérdida total de los mismos.
              </li>
              <li><img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check"/>&nbsp;Cobertura de llave de
                motocicleta: Respalda la reparación o reposición de la llave de la motocicleta asegurada cuando se
                presente un robo, descompostura o rotura.
              </li>
            </ul>
            <h3>Exclusiones en los Seguros de Motocicleta</h3>
            <p>El Seguro para Motos normalmente NO cubre algunos riesgos, tales como:</p>
            <ul>
              <li><img src="/img/icon/motoCheck.svg" alt="check" width="17" height="17"/>&nbsp;Si los daños son a
                consecuencia de operaciones bélicas.
              </li>
              <li><img src="/img/icon/motoCheck.svg" alt="check" width="17" height="17"/>&nbsp;Si la motocicleta
                asegurada fue confiscada por las autoridades.
              </li>
              <li><img src="/img/icon/motoCheck.svg" alt="check" width="17" height="17"/>&nbsp;Daños ocasionados por
                negligencia del conductor.
              </li>
              <li><img src="/img/icon/motoCheck.svg" alt="check" width="17" height="17"/>&nbsp;Perjuicios que tenga la
                moto por conducir en caminos intransitables, restringidos o clausurados.
              </li>
              <li><img src="/img/icon/motoCheck.svg" alt="check" width="17" height="17"/>&nbsp;En caso de que el
                conductor participe en carreras de velocidad o resistencia.
              </li>
              <li><img src="/img/icon/motoCheck.svg" alt="check" width="17" height="17"/>&nbsp;Si la motocicleta sufrió
                daños por exceso de peso o de dimensiones.
              </li>
              <li><img src="/img/icon/motoCheck.svg" alt="check" width="17" height="17"/>&nbsp;Cuando el uso de la
                unidad sea diferente al que se definió en la póliza.
              </li>
            </ul>
            <h4>Requisitos para contratar un Seguro para Motos</h4>
            <p>Todas las compañías aseguradoras te piden una serie de requisitos para poder validar tu proceso de
              contratación:</p>
            <ul>
              <li><img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check"/>&nbsp;Datos del conductor: RFC,
                nombre completo, sexo, correo electrónico, comprobante de domicilio, teléfono, edad y licencia de
                conducir vigente.
              </li>
              <li><img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check"/>&nbsp;Datos de la motocicleta:
                Marca, modelo, año, número de serie, cilindraje.
              </li>
            </ul>
            <p>Recuerda siempre proporcionar datos reales, ya que de lo contrario, la aseguradora se encuentra en el
              derecho de negarte el servicio, o en dado caso, de cancelar tu Póliza de Seguro de Moto.</p>
            <p>Como ya te platicamos, estos datos son necesarios para poder determinar el costo de tu póliza, por eso
              también resulta importante que antes de contratar pienses en tus necesidades, así únicamente pagarás por
              lo que usas.</p>
            <h4>Datos acerca de los accidentes de motocicleta en México</h4>
            <p>En una investigación realizada, se mostró que las motos han sido de las más susceptibles a sufrir
              accidentes viales, por lo cual en septiembre de 2019 se determinó que dichos accidentes aumentaron un 7.7
              por ciento y los estados en donde se vieron más afectados por esos acontecimientos fueron Jalisco,
              Guanajuato y Nuevo León.</p>
            <p>Además se mencionó que 600 millones de usuarios motociclistas mueren cada año a nivel mundial, de acuerdo
              con la OMS.</p>
            <p>El INEGI muestra que los estados del país que tienen más accidentes en moto, son:</p>
            <ul>
              <li><img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check"/>&nbsp;Jalisco con 5 mil 958
              </li>
              <li><img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check"/>&nbsp;Guanajuato con 5 mil 707
              </li>
              <li><img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check"/>&nbsp;Nuevo León con 4 mil 105
                accidentes
              </li>
            </ul>
            <p>Y los causantes de esos accidentes de motos son:</p>
            <ul>
              <li><img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check"/>&nbsp;Conducir en exceso de
                velocidad.
              </li>
              <li><img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check"/>&nbsp;No encender las luces.
              </li>
              <li><img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check"/>&nbsp;No saber conducir
                adecuadamente.
              </li>
              <li><img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check"/>&nbsp;Invadir carriles o
                rebasar en curvas.
              </li>
              <li><img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check"/>&nbsp;Por que los caminos no
                cuentan con una buena condición.
              </li>
              <li><img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check"/>&nbsp;Por que se les ha
                provocado el accidente.
              </li>
            </ul>
            <p>Por lo tanto se llegó a la conclusión de que a causa de que los motociclistas no cuentan con la
              responsabilidad de usar el casco o el equipo de protección, como chaleco, rodilleras, coderas o el traje
              especial, es por lo que suelen sufrir más el accidente.</p>
            <p>El casco puede reducir el riesgo de muerte y lesiones graves en algún accidente a un 40 por ciento la
              probabilidad de morir y el 70 por ciento de sufrir una lesión de gravedad, así la ropa como los guantes y
              las botas especiales, disminuyen de un 33 a 55 por ciento las lesiones que se puedan presentar.</p>
            <p>Ante esta ola de accidentes en México, es necesario conocer los Seguros para Motos, los cuales puedan
              cubrir tus necesidades y presupuesto y con los que puedas disfrutar de un respaldo único.</p>
            <h4>¡Cotiza Seguro para Moto y disfruta de un respaldo completo!</h4>
            <p>Cotizar Seguro para Motos es muy sencillo desde este portal, solo debes ingresar los datos que te pide el
              formulario y en cuestión de segundos podrás conocer los mejores planes de protección en México para tu
              motocicleta.</p>
          </div>
        </section>
      </div>
    </div>
  </div>
</template>
<script>
import formulario from "~/components/forms/newMotosForm.vue";
import Contenido from "~/components/utilities/addCont.vue";
import card from "~/components/common/card.vue";
import cardpromo from "~/components/alerta/alerta.vue";

export default {
    layout: 'index',
  components: {
    formulario,
    Contenido,
    cardpromo,
    card
  },
  beforeCreate() {
    //POR ASEGURADORA
      
        this.$store.commit("telApi");
    this.$store.state.config.aseguradora = "GNP";    
    this.$store.state.config.cotizacion = true;
    this.$store.state.config.emision = true;
    this.$store.state.config.descuento = 0;
    this.$store.state.config.telefonoAS = "47495112";
    // this.$store.state.config.grupoCallback = "VN Motos";
    this.$store.state.config.from = "DOMINIO-MOTOS";
    this.$store.state.config.idPagina = 2;
    this.$store.state.config.idSubRamo = 58;
    this.$store.state.config.idMedioDifusion = 2;
    this.$store.state.config.idMedioDifusionEcommerce = 6248;
    this.$store.state.config.idMedioDifusionInteraccion = 6249;
    this.$store.state.config.dominioCorreo = "MOTOS|MOTOS|segurosmotos-com-mx";
    this.$store.state.config.idCampana = 21;
    this.$store.state.config.url = "";
    this.$store.state.config.titulo = "Cotiza tu Seguro para Motos rapidísimo"; // INDEX
    this.$store.state.config.parrafo = ""; //CONTENIDO AGREGADO A LA PROMO EN H1
    this.$store.state.config.adic = "";
    this.$store.state.config.img = "moto.svg";
    this.$store.state.config.alert = true;
    this.$store.state.config.asgNombre = "Seguros Motos";
    this.$store.state.config.promo = "Obtén";

    this.$store.state.config.imgQualitas = false;
    this.$store.state.config.k1 = "Seguros para Motos";
    this.$store.state.config.k2 = "seguros de Motos";
    this.$store.state.config.k3 = "seguros de Motos en México";
    this.$store.state.config.k4 = "seguros para Motos en México";
    this.$store.state.config.k5 = "seguro de auto para Motos";
    this.$store.state.config.k6 = "seguros Motos";
    this.$store.state.config.k7 = "mejor seguro de Motos";
    this.$store.state.config.urlGracias = '/thank-you';
    this.$store.state.config.clase2 = "col-4 col-md-4 col-lg-4"
    this.$store.state.config.clase3 = "col-4  col-md-8 col-lg-8 my-auto"
    this.$store.state.config.clase1 = "adornoNormal"
    this.$store.state.config.colorPromo = "colorNormal"
    this.$store.state.config.subproduct = "motos"

  },
  head() {
    return {
      title: "🏅 Seguro para Motos - Cotizador de Seguros de Motos en México",
      meta: [
        {
          hid: "keywords",
          name: "keywords",
          content: "Seguro para Motos, Seguro para Moto, Seguros para Motos, Seguro de Motos, Cotizador de Seguros para Motos, Pólizas para Motocicletas, Seguros para Motocicletas, Seguro para Motocicleta, Seguro de Moto, Seguros de Motocicleta, Póliza de Seguro de Moto, Cotizar Seguro para Motos"
        },
        {
          hid: "description",
          name: "description",
          content: "Un Seguro para Motos es la mejor opción para mantenerte protegido en todo momento. ✅ ¡Cotiza Seguros de Motos en segundos! "
        },
        {hid: "robots", name: "robots", content: "index, follow"},
        {
          hid: "author",
          name: "author",
          content: "twitter: @vargasdesignMx | @DanCuevas"
        },
        {
          hid: "sitemap",
          rel: "sitemap",
          type: "application/xml",
          title: "sitemap",
          href: "sitemap.xml"
        },
        {
          hid: "canonical",
          rel: "canonical",
          href: "https://segurosmotos.com.mx"
        }
      ]
    };
  }
};
</script>
