<template>
  <div>
    <div class="container-fluid" style="background:#f5f5f5;">
      <div class="row">
            <div class="col-12 ">
            <!-- <div class="col-12 imgFondo"> -->
       
          <div class="row">
            <div class="col-12 col-md-10 m-auto py-3 text-center mt-lg-4 bg-white rounded">
              <p class="fw-bold fz-24 mb-0" id="idGraciasMotos">
                ¡Hola! {{ $store.state.formData.nombre }},
              </p>
              <p class="fz-24">
                Encontramos el mejor precio del seguro de tu moto
              </p>
              <p class="text-center dauto col-8 mx-auto rounded">
                {{ this.$store.state.formData.marca }}
                {{ this.$store.state.formData.modelo }}
                {{ this.$store.state.formData.descripcion }}
                {{ $store.state.formData.detalle }}
              </p>
            </div>

            <div class="col-12" v-if="!$store.state.cargandocotizacion && !$store.state.msjEje && !$store.state.msj">
              <loader />
            </div>
            <div class="col-xl-12 col-12 p-xl-0 mt-5" v-if="
                      $store.state.cargandocotizacion &&
                      this.$store.state.formData.precio > 0 &&
                      this.$store.state.formData.precio != null &&
                      this.$store.state.formData.precio != '' ">
              <!-- <tabla class="container"></tabla> -->
              <precios-component />
            </div>
            <div class="col-xl-10 offset-xl-1 col-12 p-xl-0 mt-5" v-if="$store.state.msjEje || $store.state.msj">
              <msjSinRes />
            </div>
              <div class="col-xl-12 col-12 p-xl-0 mt-5" v-if="$store.state.cargandocotizacion || $store.state.msjEje || $store.state.msj">
                <!-- <msjSinRes /> -->
                <!-- <precios-component /> -->
              </div>
          </div>
        </div>
      </div>
      <logica></logica>
    </div>
  </div>
</template>

<script>
import tabla from "~/components/utilities/tabla.vue";
import logica from "~/components/common/logicaNew.vue"
import preciosComponent from "~/components/utilities/precios.vue";
import msjSinRes from "~/components/utilities/msjSinRes.vue";
import loader from "~/components/utilities/preLoader.vue";
export default {

  created: function () {
    this.$store.state.formData.aseguradora = "GNP";
    if (this.$store.state.formData.nombre != "") {
      
      this.$store.state.config.loading = true;
    } else {
      this.$router.replace({ path: "/error/" });
    }
    this.$store.state.config.loading = false;
    this.$store.state.config.interior1 = '';
  },
  components: {
    tabla,
    preciosComponent,
    msjSinRes,
    loader,
    logica
  },
  head() {
    return {
      title: "Seguros para Motos - ¡En 30 segundos cotiza tu seguro de moto!",
      meta: [
        {
          hid: "keywords",
          name: "keywords",
          content:
            "Seguros para Motos, seguros de Motos, seguros de Motos en México, seguros para Motos en México, seguro de auto para Motos, seguros Motos, mejor seguro de Motos, seguro de motocicletas, seguros de cuatrimotos, seguros de motos deportivas, seguros para motonetas.",
        },
        {
          hid: "description",
          name: "description",
          content:
            "¿Seguro para motos al mejor costo? ¡Cotiza con más de 20 aseguradoras Seguros de Motos en menos de 30 Segundos!",
        },
        { hid: "robots", name: "robots", content: "index, follow" },
        {
          hid: "author",
          name: "author",
          content: "twitter: @vargasdesignMx | @DanCuevas",
        },
        {
          hid: "sitemap",
          rel: "sitemap",
          type: "application/xml",
          title: "sitemap",
          href: "sitemap.xml",
        },
        {
          hid: "canonical",
          rel: "canonical",
          href: "https://segurosmotos.com.mx/thank-you",
        },
      ],
    };
  },
};
</script>
