<template>
  <div class="col-12 px-0 p-md-1">
    <div class="contenedorPromo m-auto">
          <div class="container-fluid p-0 m-0" :class="this.$store.state.config.clase1">
            <div class="row pb-1 px-2 p-3 m-0">
              <div class="text-center my-auto" :class="this.$store.state.config.clase2">
                <img v-if="this.$store.state.config.interior == 'azteca' ||this.$store.state.config.interior == 'mapfre' "
                  :src="'/img/asg/logo/'+ this.$store.state.config.interior + '.svg'"
                  alt="Logo Aseguradora"
                  class="imgPromociones img-fluid"
                  width="100"
                  height="80"
                />
                <img
                v-else-if="this.$store.state.config.interior == 'gnp'"
                :src="'https://prod-mx.sfo3.cdn.digitaloceanspaces.com/insurance/gnp/logotipo-agente.png'"
                  alt="Logo Aseguradora"
                  class="imgPromociones img-fluid"
                  width="100"
                  height="80"
              />

                <img v-else
                  src="/img/asg/logo/logo.svg"
                  alt="Logo Aseguradora"
                  class="imgPromociones img-fluid"
                  width="100"
                  height="80"
                />
                
              </div>
              <div class="col-4 col-sm-4 col-md-4 col-lg-3 text-center" v-show="this.$store.state.config.promoSpecial"
              >
                <img
                  :src="this.$store.state.config.promoImg"
                  alt="logo promocion"
                  class="m-auto img-fluid logo-promo"
                  width="70"
                  height="40"
                />
              </div>
              <div class="col-8 col-sm-7 col-md-8 col-lg-6 my-auto" style="position:relative" :class="this.$store.state.config.clase3">
                <small class="labelPromo"
                  >{{ this.$store.state.config.promoLabel }}
                </small>
                <p :class="this.$store.state.config.colorPromo">
                  {{ this.$store.state.config.desc }}
                </p>
                <small class="msiPromo">{{
                  this.$store.state.config.msi
                }}</small>
                
                <small class="msiPromo">{{this.$store.state.config.extraMsg}}</small>
              </div>
              
            </div>
          </div>
        </div>                 
  </div>
</template>
<script>
import getInsurerPromo from "~/plugins/promoData.js";

export default {
  amp: "only",
  ampLayout: "default.amp",
    layout: 'index'&&'cookies',
  async created() {
    if(this.$store.state.config.aseguradora =="MAPFRE"){
      try {
        // Traemos la promoción especifica de la aseguradora para este dominio.
        const insurer = await getInsurerPromo(
          this.$store.state.config.asegPromo,        
          this.$store.state.config.subproduct
        );
        // Establecemos el porcentaje y meses sin intereses.
        this.$store.state.config.desc = insurer.promo.dto;
        this.$store.state.config.msi = insurer.promo.msi;

        this.$store.state.config.promoLabel = insurer.promo.label;

        // La promo es especial?
        this.$store.state.config.promoSpecial = insurer.promo.isSpecial;

        // Imagen para la promoción especial.
        this.$store.state.config.promoImg = insurer.promo.urlImg;
        // mensaje extra.
        this.$store.state.config.extraMsg = insurer.promo.extraMsg;
        /* Descomentar cuando la API mande estos valores
        y borrar los de abajo.

        store.state.config.cotizacion = insurer.quote;
        store.state.config.telefonoAS = insurer.phone;
        store.state.config.telefonoBtn = insurer.phone;

        */

        // Si se trata de una promoción especial aplicamos los estilos necesarios
        // a el recuadro.
        if (insurer.promo.isSpecial) {
          this.$store.state.config.clase1 = "adornosPromo";
          this.$store.state.config.clase2 ="col-5 col-sm-5 col-md-5 col-lg-3 d-none d-lg-block";
          this.$store.state.config.clase3 ="col-7 col-sm-7 col-md-8 col-lg-6 my-auto";
          this.$store.state.config.colorPromo="descuentosPromo"
        }
      } catch (err) {
        console.log(err);
      }
    } else {
      try {
        // Traemos la promoción especifica de la aseguradora para este dominio.
        const insurer = await getInsurerPromo(
          this.$store.state.config.aseguradora,        
          this.$store.state.config.subproduct
        );
        // Establecemos el porcentaje y meses sin intereses.
        this.$store.state.config.desc = insurer.promo.dto;
        this.$store.state.config.msi = insurer.promo.msi;

        this.$store.state.config.promoLabel = insurer.promo.label;

        // La promo es especial?
        this.$store.state.config.promoSpecial = insurer.promo.isSpecial;

        // Imagen para la promoción especial.
        this.$store.state.config.promoImg = insurer.promo.urlImg;
        // mensaje extra.
        this.$store.state.config.extraMsg = insurer.promo.extraMsg;
        /* Descomentar cuando la API mande estos valores
        y borrar los de abajo.

        store.state.config.cotizacion = insurer.quote;
        store.state.config.telefonoAS = insurer.phone;
        store.state.config.telefonoBtn = insurer.phone;

        */

        // Si se trata de una promoción especial aplicamos los estilos necesarios
        // a el recuadro.
        if (insurer.promo.isSpecial) {
          this.$store.state.config.clase1 = "adornosPromo";
          this.$store.state.config.clase2 ="col-5 col-sm-5 col-md-5 col-lg-3 d-none d-lg-block";
          this.$store.state.config.clase3 ="col-7 col-sm-7 col-md-8 col-lg-6 my-auto";
          this.$store.state.config.colorPromo="descuentosPromo"
        }
      } catch (err) {
        console.log(err);
      }
    }
  },
}

</script>


 
