<template>
  <div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 imgFondo">
          <!-- <div class="colorFondo"></div> -->
          <div class="row">
            <!-- TEXT PRINCIPAL -->
            <div class="col-lg-5 mx-auto col-md-6 col-12 text-center text-md-start">
              <h1>{{$store.state.config.titulo}}</h1>
               <cardpromo></cardpromo>
            </div>
            <!-- FORM -->
            <div class="col-lg-5 m-auto col-md-6 col-sm-12">
              <formulario :config="this.$store.state.config" />
            </div>
            <!-- CARD -->
            <card />
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 cont p-0">
          <div class="container-fluid">
            <div class="row">
              <div class="col-xl-10 offset-xl-1">
                <Contenido />
              </div>
            </div>
          </div>
          <!-- -->
          <section>
            <div class="col-xl-10 offset-xl-1 px-1 px-xl-0">
              <h2>Maneja protegido con los seguros para motos Elektra</h2>
              <p>La necesidad de una movilidad eficiente por la Ciudad de México ha derivado en que el mercado asegurador esté integrado por los seguros para motos Elektra, los cuales se caracterizan por tener precios accesibles para que cualquier persona pueda contratarlos.</p>
              <p>Los Seguros Azteca fueron diseñados a partir de las necesidades que actualmente hay en México, pues ya es obligatorio para todos los motociclistas y automovilistas, contar con una póliza que les brinde un buen respaldo mientras conducen.</p>
              <p>Desde que comenzó el 2019 ya es necesario que todos los conductores del país contraten un seguro, por eso Elektra y en general los Seguros Azteca, cuentan con productos sencillos y de precios accesibles para que los mexicanos puedan cumplir fácilmente con lo que pide la ley.</p>
            </div>
          </section>
          <!-- -->
          <section>
            <div class="col-xl-10 offset-xl-1 p-0">
              <h2>Coberturas que ofrecen los Seguros de Motos Elektra</h2>
              <p>Azteca entendió que había un segmento de la población que hasta antes de que ellos ofrecieran sus seguros, no era atendido, por eso se incorporaron a la industria aseguradora de México para llegar a un mayor número de personas, a fin de que no existan motivos para circular sin protección.</p>
              <p>Es por eso que como parte de sus servicios podemos encontrar los seguros para motos Elektra, los cuales sirven como un apoyo para que puedas hacerle frente a los gastos y daños que surgen después de un accidente.</p>
              <p>El objetivo de esta empresa es que puedas protegerte para que nada te detenga, sobre todo considerando que la Ciudad de México cuenta con un numeroso parque vehicular, por lo que una moto es una buena alternativa para evitar eventualidades como el tráfico.</p>
              <p>Por eso, Azteca analizó las necesidades actuales del sector vehicular y a partir de ello es posible encontrar su Protección Moto Responsabilidad Civil, la cual te mantiene protegido y además te ayuda a cumplir con las normas que la ley estableció en temas de seguros.</p>
              <p>Todos los motociclistas deben de contar con un seguro, la cobertura mínima que se pide es la de Responsabilidad civil pues con ésta se garantiza la reparación de los daños.</p>
              <p>La suma asegurada mínima que se debe de contratar para resarcir los daños materiales es de 50,000 pesos, mientras que el monto mínimo para cubrir gastos por lesiones y muerte de otros conductores es de 100,000 pesos.</p>
              <p>Para cumplir con las obligaciones en materia vial, una buena alternativa es contratar el seguro Moto Responsabilidad Civil que ofrece Azteca y Elektra, con el cual obtienes un respaldo de hasta 250,000 pesos en caso de que ocasiones daños en bienes materiales o lesiones en otras personas mientras conduces tu motocicleta.</p>
              <p>El plan de Responsabilidad Civil cuenta con dos coberturas, para que tengas un mejor idea de su utilidad, te mostramos la siguiente tabla.</p>
              <p>Con este seguro lo que busca esta empresa es brindarte un apoyo cuando ocasiones daños con tu moto; sin embargo, esta no es la única opción que ofrecen.</p>
              <p>Si deseas circular con protección, los seguros para motos Elektra también cuentan con otro producto llamado Italika, el cual asegura tu moto siempre y cuando sea de esta marca, para que obtengas un respaldo en caso de robo o accidentes.</p>
              <p>Con el seguro Italika vas a tener la seguridad de que tu unidad se encontrará siempre protegida, pues desafortunadamente nadie está a salvo de la delincuencia y más vale estar prevenido en caso de robo o accidente.</p>
              <p>Los planes que este seguro ofrece se adaptan a cualquier bolsillo, como se puede apreciar en la información que te presentamos a continuación.</p>
              <p>Los seguros para motos Elektra te ayudan a cumplir con la ley mientras mantienes tu unidad protegida, con planes básicos que no afectan las finanzas de tu familia, pues ese es uno de los propósitos que Azteca tiene, ofrecer solamente servicios con costos pensados en la situación de la economía mexicana.</p>
            </div>
          </section>
          <!-- -->
          <section>
            <div class="col-xl-10 offset-xl-1 p-0">
              <h3>Beneficios de los Seguros de motos Elektra</h3>
              <p>No sólo el precio se considera como un beneficio que puedes obtener al contratar alguno de los seguros para motos Elektra, también fueron diseñados con otras características que te permiten contar con varias ventajas.</p>
              <p>En el caso del seguro de Moto Responsabilidad Civil su principal beneficio es que te proporciona asistencia legal para los honorarios de abogados y los gastos del proceso legal, pues es bien sabido que en ocasiones, un accidente de tránsito termina en el ministerio público o en otras instancias.</p>
              <p>Además, su vigencia es de un año a partir de la activación, por lo que el proceso de renovación será más sencillo y no tendrás que hacerlo constantemente.</p>
              <p>Por otra parte, el seguro Italika también le ofrece a las personas que lo contratan diversos beneficios, el más sobresaliente es que sus coberturas aplican para las motos que sean de uso personal y las que se ocupan para actividades comerciales, a fin de que no haya impedimentos para estar asegurado.</p>
              <p>Con este tipo de seguro también es posible estar amparado por el robo o la pérdida total de la moto en caso de accidente, además de tener apoyo vial en caso de que sea necesario.</p>
              <p>A veces podría pensarse que tener un seguro es algo caro o un gasto innecesario, pero la realidad es que se trata de una inversión que protege tu economía, pues en caso de un accidente, los seguros te amparan con gastos legales para que no tengas que pagar altas sumas de dinero de tu bolsillo.</p>
              <p>Esa es una de las ventajas que tiene el seguro Italika, que incluye gastos legales y de fianza, para que no tengas que comprometer las finanzas de toda tu familia si llegaras a sufrir un accidente que derivará en acciones penales.</p>
              <p>La vigencia del seguro para las motos Italika también es de un año, por lo que el trámite de renovación no es complicado y no requiere que inviertas gran parte de tu tiempo.</p>
            </div>
          </section>
          <!-- -->
          <section>
            <div class="col-xl-10 offset-xl-1 p-0">
              <h3>Requisitos para contratar los Seguros Motos Elektra</h3>
              <p>Una buena alternativa para que viajes protegido son los seguros para motos Elektra, que requieren de pocos pasos y documentos para su contratación, así no tendrás que dejar los trámites a medias y lo mejor de todo es que vas a garantizar la seguridad de tus bienes.</p>
              <p>Lo primero que tienes que considerar es que tu licencia de conducir debe estar vigente, pues de lo contrario no podrás contratar ningún tipo de seguro. Debes de contar con una identificación oficial que también esté vigente, pues se trata de un documento indispensable.</p>
              <p>La factura original o la carta factura de tu motocicleta también es indispensable; y en el caso del seguro Moto Responsabilidad Civil, también debes de considerar que las características de tu unidad van a ser solicitadas cuando desees hacer la contratación.</p>
              <p>En realidad los requisitos son muy sencillos y esto es otro beneficio, pues no tienes que esperar largos trámites para que al fin tu moto cuente con la protección adecuada y por lo tanto, tú puedas viajar tranquilo.</p>
            </div>
          </section>
          <!-- -->
          <section>
            <div class="col-xl-10 offset-xl-1 p-0">
              <h3>¿Cuáles son las exclusiones de los seguros para motos Elektra?</h3>
              <p>Lo más importante para Seguros Azteca es protegerte para que nada pueda detenerte, por eso sus planes están pensados para ofrecer beneficios y volverlos cada vez más eficientes.</p>
              <p>Es por esto que también hay exclusiones tanto en el seguro de Responsabilidad Civil como en el de Italika, pues esto permite que el servicio se ofrezca de una mejor manera.</p>
              <p>En el caso de la Responsabilidad Civil las exclusiones son para los daños a la pintura de la moto asegurada, los cuales sean ocasionados por riesgos diferentes a los amparados por esta cobertura, mismos que quedan estipulados en la póliza.</p>
              <p>Otra exclusión de este seguro es la descompostura mecánica de la moto o fallas en cualquiera de las piezas, como consecuencia del mal uso que se le dé a la unidad. También quedan fuera del seguro los daños que se ocasionen por transitar fuera de caminos o en vías que se encuentren en malas condiciones.</p>
              <p>Una exclusión que aplica para todos los seguros para motos Elektra está relacionada con los daños o pérdidas materiales que sufran las motocicletas como consecuencia del abuso de confianza, cometido por los familiares del asegurado o por las personas que aparezcan como aseguradas en la carátula póliza.</p>
              <p>Los daños que se deriven de accidentes provocados por usar la moto para otros fines diferentes a los que se estipularon en la carátula de la póliza, también quedan fuera de los beneficios que establece Elektra para sus clientes.</p>
            </div>
          </section>
          <!-- -->
          <section>
            <div class="col-xl-10 offset-xl-1 p-0">
              <h4>Conoce más sobre los Elektra Seguros de Motos</h4>
              <p>Los seguros para motos Elektra forman parte de Seguros Azteca, una empresa que se estableció con el objetivo de atender a un segmento de la población que hasta ese momento había sido ignorado por la industria aseguradora.</p>
              <p>Con sus diferentes productos, esta compañía aseguradora lo que busca es llegar a comunidades que antes no habían sido consideradas por las empresas, para que los mexicanos tengan más posibilidades de proteger su patrimonio y al mismo tiempo, cumplir con lo que piden las autoridades en cuanto a los seguros de auto y moto obligatorios.</p>
              <p>La característica principal de los seguros para motos Elektra es que se pueden adquirir a precios muy accesibles, para que sean el respaldo que las familias mexicanas necesitan.</p>
              <p>Las operaciones de Seguros Azteca comenzaron en el 2004 y desde entonces se han enfocado en crear soluciones que otorguen a sus clientes una protección pensada en sus necesidades, sin que por ello tengan que sacrificar la economía de la familia.</p>
              <p>El buen precio de los seguros para motos Elektra no comprometen la calidad de estos productos, por el contrario, lo que se busca es brindar el respaldo indicado para el bienestar y el patrimonio de las familias mexicanas.</p>
              <p>Al llegar a todos los segmentos de la población, los Seguros Azteca han podido posicionarse como una de las compañías líder en el sector, ya que están al pendiente de que sus productos cumplan con las expectativas de cada uno de los clientes que han sumado a lo largo de los años.</p>
              <p>Para cumplir con las necesidades de los mexicanos, esta compañía ofrece seguros de Motos, Autos, Vida, Médicos, Educación y otros más especializados que se enfocan en la Mujer y en los Migrantes.</p>
              <p>Con esta variedad de servicios es posible notar que Seguros Azteca desea llegar a distintos segmentos de la población, por eso en el caso de sus protecciones enfocadas en los motociclistas, se adaptan a cualquier uso que se les dé y claro, a cualquier presupuesto.</p>
            </div>
          </section>
          <!-- -->
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import formulario from "~/components/forms/newMotosForm.vue";
import Contenido from "~/components/utilities/addCont.vue";
import card from "~/components/common/card.vue";
import cardpromo from "~/components/alerta/alerta.vue";
import getInsurerPromo from "~/plugins/promoData.js";

export default {
    layout: 'index',
  components: {
    formulario,
    Contenido,
    cardpromo,
    card
  },
  beforeCreate() {
    //POR ASEGURADORA
      
        this.$store.commit("telApi");
    this.$store.state.config.aseguradora = "AZTECA";
    this.$store.state.config.cotizacion = false;
    this.$store.state.config.emision = true;
    this.$store.state.config.descuento = 0;
    this.$store.state.config.telefonoAS = "47495112";
    // this.$store.state.config. = "VN Motos";
    this.$store.state.config.from = "DOMINIO-MOTOS";
    this.$store.state.config.idPagina = 2;
    this.$store.state.config.idMedioDifusion = 1308;
    this.$store.state.config.idSubRamo = 212;
    this.$store.state.config.dominioCorreo = "MOTOS|MOTOS|segurosmotos-com-mx-seguros-para-motos-elektra";
    this.$store.state.config.idCampana = 21;
    this.$store.state.config.titulo = "Cotiza tu Seguro para Motos Elektra rapidísimo"; // INDEX
    this.$store.state.config.parrafo = ""; //CONTENIDO AGREGADO A LA PROMO EN H1
    this.$store.state.config.adic = "";
    this.$store.state.config.img = "moto.svg";
    this.$store.state.config.alert = true;
    this.$store.state.config.asgNombre = "Seguros Motos";
    this.$store.state.config.promo = "Obtén";

    this.$store.state.config.k1 = "Seguros para Motos Elektra";
    this.$store.state.config.k2 = "Seguros de Motos Elektra";
    this.$store.state.config.k3 = "Cotiza Seguros de Autos Elektra";
    this.$store.state.config.k4 = "Elektra Seguro de Moto";
    this.$store.state.config.urlGracias = '/seguros-para-motos-elektra/thank-you';

    this.$store.state.config.clase2="col-4 col-md-4 col-lg-4"
    this.$store.state.config.clase3="col-4  col-md-8 col-lg-8 my-auto"
    this.$store.state.config.clase1="adornoNormal"
    this.$store.state.config.colorPromo="colorNormal"
    this.$store.state.config.subproduct="motos"

  },
  head() {
    return {
      title:
        "Seguros para Motos Elektra - Cotiza Fácil Elektra Seguros de Motos",
      meta: [
        {
          hid: "keywords",
          name: "keywords",
          content:
            "Seguros para Motos Elektra, Seguros de Motos Elektra, Cotiza Seguros de Autos Elektra, Elektra Seguro de Moto."
        },
        {
          hid: "description",
          name: "description",
          content:
            " Cotiza Seguros para Motos Elektra en México al mejor precio, fácil y rápido. Encuentra coberturas y beneficios exclusivos en Elektra Seguros de Motos. "
        },
        { hid: "robots", name: "robots", content: "index, follow" },
        {
          hid: "author",
          name: "author",
          content: "twitter: @vargasdesignMx | @DanCuevas"
        },
        {
          hid: "sitemap",
          rel: "sitemap",
          type: "application/xml",
          title: "sitemap",
          href: "sitemap.xml"
        },
        {
          hid: "canonical",
          rel: "canonical",
          href: "https://segurosmotos.com.mx/seguros-para-motos-elektra/"
        }
      ]
    };
  }
};
</script>
