<template>
  <div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 imgFondo">
          <!-- <div class="colorFondo"></div> -->
          <div class="row">
            <div class="col-12 col-md-10 m-auto py-3 text-center mt-lg-5 bg-white rounded" >
              <p class=" fw-bold fz-24 mb-0" id="idGraciasMotos">¡Hola! {{$store.state.formData.nombre}},</p>
              <p class=" fz-24">Encontramos el mejor precio del seguro de tu moto</p> 
              <p class="text-center dauto col-8 mx-auto rounded">{{this.$store.state.formData.marca}} {{ this.$store.state.formData.modelo}} {{this.$store.state.formData.descripcion}}  {{$store.state.formData.detalle}} </p>
            </div>
            <div
              class="col-12"
              v-if="!$store.state.cargandocotizacion && !$store.state.msjEje && !$store.state.msj"
            >
              <loader />
            </div>
            <div class="col-xl-8 offset-xl-2 col-12 p-xl-0" >
              <tabla  />
            </div>
            <div class="col-xl-10 offset-xl-1 col-12 p-xl-0 mt-5" v-if="$store.state.msjEje || $store.state.msj">
              <msjSinRes />
            </div>
          </div>
        </div>
      </div>
    </div>
    <logica></logica>
  </div>
</template>

<script>
import tabla from "~/components/utilities/tabla.vue";
import rest from "~/components/utilities/rest.vue";
import msjSinRes from "~/components/utilities/msjSinRes.vue";
import loader from "~/components/utilities/preLoader.vue";
import logica from "~/components/common/logicaNew.vue";

export default {
  //layout: "thanks",
  created: function() {
    this.$store.state.formData.aseguradora = "AZTECA";
    if (this.$store.state.formData.nombre != "") {
      this.$store.state.config.loading = true;
    } else {
      this.$router.replace({ path: "/error/" });
   }
    this.$store.state.config.loading = false;
    this.$store.state.config.interior1='seguros-para-motos-elektra';
  },
  components: {
    tabla,
    rest,
    msjSinRes,
    loader,
    logica,
  },
  head() {
    return {
      title:
        "Seguros para Motos Elektra - Cotiza Fácil Elektra Seguros de Motos",
      meta: [
        {
          hid: "keywords",
          name: "keywords",
          content:
            "Seguros para Motos Elektra, Seguros de Motos Elektra, Cotiza Seguros de Autos Elektra, Elektra Seguro de Moto."
        },
        {
          hid: "description",
          name: "description",
          content:
            " Cotiza Seguros para Motos Elektra en México al mejor precio, fácil y rápido. Encuentra coberturas y beneficios exclusivos en Elektra Seguros de Motos. "
        },
        { hid: "robots", name: "robots", content: "index, follow" },
        {
          hid: "author",
          name: "author",
          content: "twitter: @vargasdesignMx | @DanCuevas"
        },
        {
          hid: "sitemap",
          rel: "sitemap",
          type: "application/xml",
          title: "sitemap",
          href: "sitemap.xml"
        },
        {
          hid: "canonical",
          rel: "canonical",
          href:
            "https://segurosmotos.com.mx/seguros-para-motos-elektra/thank-you/"
        }
      ]
    };
  },
};
</script>
<style>
.loader-text{
  color: #ffffff!important;
}
</style>