<template>
  <div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 imgFondo">
          <!-- <div class="colorFondo"></div> -->
          <div class="row">
             <!-- TEXT PRINCIPAL -->
            <div class="col-lg-5 mx-auto  col-md-6 col-12 text-center text-md-start">
              <h1>{{$store.state.config.titulo}}</h1>
              <cardpromo></cardpromo>

            </div>
            <!-- FORM -->
            <div class="col-lg-5 m-auto col-md-6 col-sm-12">
              <formulario :config="this.$store.state.config" />
            </div>
            <!-- CARD -->
            <card />
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 cont p-0 mt-md-5">
          <!--<div class="container-fluid">
            <div class="row">
              <div class="col-xl-10 offset-xl-1">
                <Contenido />
              </div>
            </div>
          </div>-->
          <!-- -->
          <section>
            <div class="col-xl-10 offset-xl-1 px-1 px-xl-0">
              <h2>¿Qué ofrecen los seguros para motos Mapfre?</h2>
              <p>Entre las obligaciones de un conductor responsable se encuentra la tarea de buscar seguros para motos Mapfre, pues con ellos tiene la posibilidad de circular protegido y respaldado ante cualquier eventualidad que pueda sufrir.</p>
              <p>Si tú formas parte de los motociclistas que diariamente circulan por las carreteras del país, seguramente te interesa cuidar tus bienes, en este caso la moto, pero también te preocupas por salvaguardar tu integridad física, algo en lo que te ayudan los seguros.</p>
              <p>En el caso particular de los seguros de motos Mapfre, debes saber que esta aseguradora cuenta con varias modalidades para que puedas elegir la que más se adapte a tus necesidades, tanto económicas como de estilo de vida.</p>
            </div>
          </section>
          <!-- -->
          <section>
            <div class="col-xl-10 offset-xl-1 p-0">
              <h2>Coberturas de Seguros de Mapfre Motos</h2>
              <p>Si deseas saber más sobre seguros de Mapfre motos, a continuación te mostramos los planes que esta compañía diseñó con la finalidad de llegar a un mayor número de personas, pues se adaptan a diversas necesidades y presupuestos.</p>
              <ul>
                <li>
                  <img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check" />&nbsp;
                  <b>Seguro de Moto Responsabilidad Civil</b>: es una cobertura que te ampara en caso de que en un siniestro, haya afectaciones en la integridad y los bienes de terceras personas. También te cubre con defensa legal y gastos médicos.
                </li>
                <li>
                  <img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check" />&nbsp;
                  <b>Seguro de Moto Limitado</b>: es una cobertura básica que además de la Responsabilidad civil, te ampara en caso de que haya daños materiales.
                </li>
                <li>
                  <img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check" />&nbsp;
                  <b>Seguro de Moto Amplio</b>: con este plan Mapfre te ofrece la posibilidad de elegir las coberturas que necesitas, dependiendo de las características de tu moto y de tus necesidades.
                </li>
                <li>
                  <img src="/img/icon/motoCheck.svg" width="17" height="17" alt="check" />&nbsp;
                  <b>Seguro de Moto Élite</b>: se trata del plan más completo que ofrece esta compañía, pues incluye más de 10 coberturas como gastos médicos y daños materiales.
                </li>
              </ul>
              <p>Para que conozcas lo que ofrece cada uno de los seguros de motos Mapfre, te recomendamos revisar la siguiente tabla donde obtienes un panorama completo sobre las coberturas que tiene cada uno.</p>
              <!-- TABLA -->
              <div class="table-responsive">
                <table class="table-bordered table table-striped">
                  <thead>
                    <tr>
                      <th>Coberturas</th>
                      <th>Élite</th>
                      <th>Amplio</th>
                      <th>Limitado</th>
                      <th>Responsabilidad civil</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Daños materiales</td>
                      <td>5%</td>
                      <td>5%</td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Robo total</td>
                      <td>10%</td>
                      <td>10%</td>
                      <td>10%</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Responsabilidad civil bienes</td>
                      <td>$500,000</td>
                      <td>$500,000</td>
                      <td>$500,000</td>
                      <td>$500,000</td>
                    </tr>
                    <tr>
                      <td>Responsabilidad civil personas</td>
                      <td>$500,000</td>
                      <td>$500,000</td>
                      <td>$500,000</td>
                      <td>$500,000</td>
                    </tr>
                    <tr>
                      <td>Gastos médicos conductor y ocupantes</td>
                      <td>$100,000</td>
                      <td>$100,000</td>
                      <td>$100,000</td>
                      <td>$100,000</td>
                    </tr>
                    <tr>
                      <td>Asistencia completa</td>
                      <td>Amparada</td>
                      <td>Amparada</td>
                      <td>Amparada</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Defensa legal</td>
                      <td>$500,000</td>
                      <td>$500,000</td>
                      <td>$500,000</td>
                      <td>$500,000</td>
                    </tr>
                    <tr>
                      <td>Muerte accidental</td>
                      <td>Amparada</td>
                      <td>Opcional</td>
                      <td>Opcional</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Extensión de Responsabilidad civil</td>
                      <td>Amparada</td>
                      <td>Amparada</td>
                      <td>Amparada</td>
                      <td>Amparada</td>
                    </tr>
                    <tr>
                      <td>Extensión de muerte accidental</td>
                      <td>Amparada</td>
                      <td>Opcional</td>
                      <td>Opcional</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Accesorios de motocicleta</td>
                      <td>20%</td>
                      <td>Opcional</td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Casco y/o vestimenta</td>
                      <td>10%</td>
                      <td>Opcional</td>
                      <td>Opcional</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Cobertura llave</td>
                      <td>Amparada</td>
                      <td>Opcional</td>
                      <td></td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <p>Los seguros de Mapfre motos se pueden contratar a partir de alguno de los planes mostrados, que cuentan con coberturas fijas pero también tienen la posibilidad de mejorarse para que viajes mucho más protegido.</p>
            </div>
          </section>
          <!-- -->
          <section>
            <div class="col-xl-10 offset-xl-1 p-0">
              <h3>Beneficios de los seguros para motos Mapfre</h3>
              <p>Cuando estás buscando un respaldo que te permita viajar en tu moto con la seguridad de que en caso de un accidente, la aseguradora te va a responder de la mejor manera, puedes acercarte a Mapfre para conocer los beneficios que te ofrece.</p>
              <p>Por tratarse de una compañía que tiene más de 80 años de experiencia en el mercado asegurador de México, puedes tener la confianza de que los seguros de motos Mapfre te van a brindar ventajas sobresalientes frente a otras empresas.</p>
              <p>Con su seguro de Responsabilidad civil puedes asegurar motocicletas destinadas al uso personal, pero también las que se emplean para otros fines, como renta diaria, patrulla oficial, moto de supervisión, de mensajería, cobranza, reparto y prestación de servicios.</p>
              <p>Para complementar sus servicios, Mapfre pone a tu disposición 207 talleres multimarca a nivel nacional, donde las unidades son revisadas y reparadas bajo controles de calidad para que puedas recibir tu motocicleta en las mismas condiciones de buen funcionamiento que tenía antes de un siniestro.</p>
              <p>Una de las ventajas que puedes obtener con los seguros de Mapfre motos, es que protegen una amplia variedad de accesorios que con frecuencia se añaden a las motos, como las alarmas y las alforjas. La pérdida total de tu casco y vestimenta, también son cubiertas por Mapfre, en su cobertura Limitada.</p>
              <p>Los seguros para motos Mapfre tienen otro beneficio para sus asegurados, consiste en una defensa jurídica especial que se brinda en los siniestros que así lo requieran, a nivel nacional para darle una mayor competitividad a esta ventaja.</p>
              <p>Con esta aseguradora también es posible consultar el estatus de un siniestro en su portal de internet, para hacer más eficientes sus trámites y procesos, lo que representa una ventaja para los asegurados pues de forma más sencilla pueden estar al tanto de todo lo relacionado con su póliza.</p>
              <p>En el seguro Amplio se obtiene un beneficio relacionado con el peritaje de daños, es decir, como asegurado puedes decidir entre el pago por pérdida total o el pago de daños cuando éstos representen más del 50% y hasta 75% del valor de la moto.</p>
              <p>Los seguros para motos Mapfre son de los más sobresalientes en el mercado porque son los más rápidos en el pago del siniestro, de acuerdo con el Reporte 2009 sobre la calidad en el servicio-cobertura de robo total de la Condusef.</p>
              <p>Puedes confiar en que los beneficios de Mapfre se deben a la calidad que brindan en todos sus servicios, pues la Condusef en uno de sus reportes sobre la calidad de las aseguradoras, incluyó a esta compañía, lo que sin duda les da un valor agregado.</p>
              <p>Además, la aseguradora tiene un Centro de Experimentación y Seguridad Vial México, que es el único centro de investigación y capacitación en materia de seguros, reparación y cultura vial que hay en nuestro país, Centroamérica y el Caribe.</p>
            </div>
          </section>
          <!-- -->
          <section>
            <div class="col-xl-10 offset-xl-1 p-0">
              <h3>Requisitos para contratar los seguros de motos Mapfre</h3>
              <p>Sin duda darle a tu motocicleta los cuidados adecuados incluye la contratación de un seguro, pues con esto no sólo vas a contar con un sólido respaldo financiero, también con la certeza de que podrás cuidar tu integridad física y la de terceras personas.</p>
              <p>Para que puedas estar protegido sin la necesidad de pasar por largos trámites, Mapfre pide requisitos muy básicos, los cuales comienzan con tu información personal: Registro Federal de Contribuyentes (RFC), correo electrónico, domicilio, sexo, teléfono y edad.</p>
              <p>Estos datos personales son muy importantes porque con ellos las aseguradoras pueden calcular los precios de las pólizas, por ejemplo, en ocasiones los seguros son más caros para los jóvenes, porque están más propensos a verse involucrados en un accidente de tránsito.</p>
              <p>Los requisitos para contratar seguros de Mapfre motos también están relacionados con las características básicas de la unidad: marca, modelo, año y número de serie.</p>
              <p>En realidad los requisitos son muy básicos para que no haya dificultades a la hora de contratar el seguro, pues lo que Mapfre busca es que cada vez sean más los motociclistas que viajan con una protección a bordo.</p>
            </div>
          </section>
          <!-- -->
          <section>
            <div class="col-xl-10 offset-xl-1 p-0">
              <h3>Exclusiones de los seguros Mapfre para motos</h3>
              <p>Como cualquier seguro, los que Mapfre ofrece especialmente al sector de las motocicletas también cuentan con algunas exclusiones, pues por medio de ellas se pretende crear un “filtro” de calidad que permita brindarle un mejor servicio a todos sus asegurados.</p>
              <p>Por eso, entre las exclusiones de los seguros para motos Mapfre están los daños cuyo costo sea menor al monto a pagar por concepto del deducible. Tampoco aplican las descomposturas o las fallas mecánicas.</p>
              <p>Otra exclusión de estos seguros está relacionada con el desbielamiento del motor por cualquier causa, salvo inundación, pues Mapfre comprende que México es un país muy expuesto a fenómenos hidrometeorológicos, los cuales podrían dejar daños irreparables en las unidades.</p>
              <p>Con las exclusiones, Mapfre lo que desea es generar mayores beneficios para sus asegurados, por eso también deja fuera de sus coberturas las pérdidas o daños causados por la acción normal de la marea, incluso cuando ésta provoque inundación.</p>
              <p>Los seguros de Mapfre motos también excluyen de sus coberturas a las unidades aseguradas que participen en competencias de velocidad o resistencia, no importando si los conductores son aficionados o profesionales.</p>
              <p>La cobertura de responsabilidad civil incluye una exclusión que deja fuera a los daños a terceros en sus bienes, los cuales sean propiedad de personas que tengan un parentesco con el asegurado.</p>
            </div>
          </section>
          <!-- -->
          <section>
            <div class="col-xl-10 offset-xl-1 p-0">
              <h4>Consejos generales sobre los seguros de motos Mapfre</h4>
              <p>En el momento que contratas alguno de los seguros para motos Mapfre, debes prestar atención a ciertas cuestiones que a pesar de parecer muy básicas, te servirán para entender mejor cómo funciona y cómo usar las coberturas cuando así se requiera.</p>
              <p>Lo primero que debes de tomar en cuenta cuando cotizas y contratas un seguro es que pueda cubrir tus necesidades y sobre todo, se mantenga dentro del presupuesto que destinamos para esta protección.</p>
              <p>A veces, los seguros de Responsabilidad civil tienen un menor costo que otras coberturas, pero considera que con planes como el Limitado o Amplio, puedes obtener mayores beneficios que serán de mucha utilidad en caso de accidente, pues nadie está exento de los siniestros viales.</p>
              <p>Cuando tengas tu póliza a la mano, después de haber elegido alguno de los seguros de motos Mapfre, es primordial que leas las condiciones generales de este documento, porque podrás verificar que todos los datos sean correctos y que aparezcan las sumas aseguradas que contrataste.</p>
              <p>De igual forma ten en cuenta que siempre debes llevar contigo los papeles de tu póliza en la motocicleta, para que en caso de siniestro, puedas comprobar y pedir que se te respeten los servicios contratados.</p>
            </div>
          </section>
          <!-- -->
          <section>
            <div class="col-xl-10 offset-xl-1 p-0">
              <h4>Mapfre, una compañía con mucha trayectoria</h4>
              <p>Cuando hablamos sobre los seguros para motos Mapfre, indudablemente tenemos que mencionar que esta aseguradora es una de las que mayor experiencia tiene en el mercado, pues son 80 años de trabajo constante y que cada vez presenta un mayor crecimiento.</p>
              <p>Este grupo empresarial es multinacional e independiente, actualmente concentra sus actividades en el mercado asegurador, reasegurador, financiero, inmobiliario y de servicio, por lo que llega a miles de mexicanos por medio de estas opciones.</p>
              <p>Los seguros de motos Mapfre son de los más conocidos, pero también ofrecen otros que se encargan de mejorar la vida de las personas: Autos, Vida, Accidentes, Enfermedades, Daños, Fianzas y Seguros de Crédito.</p>
              <p>La calidad de sus servicios queda demostrada en el nombramiento que le hizo el Great Place to Work Institute México, como una de las Mejores Empresas para Trabajar en México.</p>
              <p>Ese tipo de detalles hace que los seguros de Mapfre motos, tengan una amplia aceptación en el mercado asegurador de nuestro país, reforzado con las más de 400 oficinas que esta aseguradora tiene en todo el territorio nacional para atender todo tipo de quejas o sugerencias.</p>
              <p>Mapfre nació en España en 1933, mientras que en México apareció Seguros Tepeyac en el año 1944; ambas empresas decidieron unirse en 1990 para trabajar en favor de la seguridad de los mexicanos.</p>
              <p>Desde entonces, Mapfre México se ha podido consolidar como un grupo asegurador de vanguardia, líder en el sector a nivel mundial gracias a sus colaboradores que tienen presencia en países como Perú, y gracias también a que constantemente mejoran la calidad de sus servicios.</p>
            </div>
          </section>
          <!-- -->
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import formulario from "~/components/forms/newMotosForm.vue";
import Contenido from "~/components/utilities/addCont.vue";
import card from "~/components/common/card.vue";
import cardpromo from "~/components/alerta/alerta.vue";

export default {
    layout: 'index',
  components: {
    formulario,
    Contenido,
    card,
    cardpromo
  },
  beforeCreate() {
    //POR ASEGURADORA
      
    this.$store.commit("telApi");
    this.$store.state.config.aseguradora = "MAPFRE";    
    this.$store.state.config.asegPromo = "genericas";
    this.$store.state.config.cotizacion = false;
    this.$store.state.config.emision = false;
    this.$store.state.config.descuento = 0;
    this.$store.state.config.telefonoAS = "47495112";
    // this.$store.state.config.grupoCallback = "VN Motos";
    this.$store.state.config.from = "DOMINIO-MOTOS";
    this.$store.state.config.idPagina = 2;
    this.$store.state.config.idMedioDifusion = 1306;
    this.$store.state.config.idSubRamo = 223;
    this.$store.state.config.dominioCorreo = "MOTOS|MAPFRE|segurosmotos-com-mx-seguros-de-mapfre-motos";
    this.$store.state.config.idCampana = 21;
    this.$store.state.config.urlGracias  = '/seguros-de-mapfre-motos/thank-you';
    this.$store.state.config.titulo = "Cotiza tu Seguro para Motos Mapfre rapidísimo"; // INDEX
    this.$store.state.config.parrafo = ""; //CONTENIDO AGREGADO A LA PROMO EN H1
    this.$store.state.config.adic = "";
    this.$store.state.config.img = "moto.svg";
    this.$store.state.config.alert = true;
    this.$store.state.config.asgNombre = "Seguros Motos";
    this.$store.state.config.promo = "Obtén";

    this.$store.state.config.interior = "mapfre";

    this.$store.state.config.k1 = "Seguros para Motos Mapfre";
    this.$store.state.config.k2 = "Seguros de Motos Mapfre";
    this.$store.state.config.k3 = "Cotiza Seguros de Autos Mapfre";
    this.$store.state.config.k4 = "Mapfre Seguro de Moto";
    //PROMO
    this.$store.state.config.clase2="col-4 col-md-4 col-lg-4"
    this.$store.state.config.clase3="col-4  col-md-8 col-lg-8 my-auto"
    this.$store.state.config.clase1="adornoNormal"
    this.$store.state.config.colorPromo="colorNormal"
    this.$store.state.config.subproduct="motos"

  },
 
  head() {
    return {
      title: "Seguros para motos Mapfre - Cotiza Fácil Mapfre Seguros de Motos",
      meta: [
        {
          hid: "keywords",
          name: "keywords",
          content:
            "Seguros para Motos Mapfre, Seguros de Motos Mapfre, Cotiza Seguros de Autos Mapfre, Mapfre Seguro de Moto"
        },
        {
          hid: "description",
          name: "description",
          content:
            " Cotiza Seguros para Motos Mapfre en México al mejor precio, fácil y rápido. Encuentra coberturas y beneficios exclusivos en Mapfre Seguros de Motos."
        },
        { hid: "robots", name: "robots", content: "index, follow" },
        {
          hid: "author",
          name: "author",
          content: "twitter: @vargasdesignMx | @DanCuevas"
        },
        {
          hid: "sitemap",
          rel: "sitemap",
          type: "application/xml",
          title: "sitemap",
          href: "sitemap.xml"
        },
        {
          hid: "canonical",
          rel: "canonical",
          href: "https://segurosmotos.com.mx/seguros-de-mapfre-motos/"
        }
      ]
    };
  }
};
</script>
